<!--|IBF|topic_none|START|-->


            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'><i>{ibf.lang.q_t_n}</i></td>
            </tr>


<!--|IBF|topic_none|END|-->

<!--|IBF|endcp|START|-->


      </td>
     </tr>
    </table>
   </td>
  </tr>
 </table>


<!--|IBF|endcp|END|-->

<!--|IBF|post_none|START|-->


            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'><i>{ibf.lang.q_p_n}</i></td>
            </tr>


<!--|IBF|post_none|END|-->

<!--|IBF|end_forum_splash|START|-->


       </table>
      </td>
     </tr>
    </table>


<!--|IBF|end_forum_splash|END|-->

<!--|IBF|post_form_header|START|-->


            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium' colspan='2'>{ibf.lang.q_posts} $count</td>
            </tr>


<!--|IBF|post_form_header|END|-->

<!--|IBF|prune_form_header|START|-->


            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium' colspan='2'>{ibf.lang.search_prune}</td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'>
               <i>{ibf.lang.define_search}</i>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='process_prune'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_prune_cutoff}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='DAYS' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_prune_perpage}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='PAGE' size='5' maxlength='10' value='20' class='forminput'></td>
            </tr>
            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='button' class='forminput' value='{ibf.lang.prune_forum}' onClick='check_prune();'></form></td>
            </tr>


<!--|IBF|prune_form_header|END|-->

<!--|IBF|show_post_results|START|-->


            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_ONE}'>
                <b>{ibf.lang.a_topic_results}</b><hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>
                {ibf.lang.a_topic_deleted} {$data[DELETED]}<br><br>
                {ibf.lang.a_topic_approved} {$data[APPROVED]}<br><br>
                {ibf.lang.a_topic_left} {$data[LEFT]}<br><br>
            </td>
            </tr>


<!--|IBF|show_post_results|END|-->

<!--|IBF|topic_header|START|-->


            <tr>
             <td><b>{ibf.lang.f_moderate} {$data[FORUM_NAME]}</b><br>{ibf.lang.f_moderate_t}
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='{$data[search_type]}'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
              <td>
               <table cellspacing='1' cellpadding='0' border='0' width='95%' align='center' bgcolor='{ibf.skin.TABLE_BORDER_COL}'>
                 <tr>
                  <td>
                    <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>
                     <tr>
                       <td width='15%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.tt_action}</td>
                       <td width='45%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.st_topic}</td>
                       <td width='5%'  bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.st_posts}</td>
                       <td width='35%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.st_last}</td>
                     </tr>


<!--|IBF|topic_header|END|-->

<!--|IBF|open_form_header|START|-->


            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium' colspan='2'>{ibf.lang.search_openclose} $count</td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'>
               <i>{ibf.lang.define_search}</i>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='process_open'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_topics_cutoff}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='DAYS' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_sort}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><select name='ORDER' class='forminput'><option value='asc'>{ibf.lang.s_topics_asc}</option><option value='desc' selected>{ibf.lang.s_topics_desc}</option></select></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_limit}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='LIMIT' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='submit' class='forminput' value='{ibf.lang.submit_topics}'></form></td>
            </tr>


<!--|IBF|open_form_header|END|-->

<!--|IBF|render_topic_post|START|-->


                     <tr>
                      <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='middle'><input type='hidden' name='POST_{$data[POST]}->{'ID'}' value='{$data[POST]}->{'POST_ID'}'><input type='hidden' name='TOPIC_{$data[POST]}->{'ID'}' value='{$data[TOPIC]}->{'TOPIC_ID'}'><select name='CHOICE_{$data[POST]}->{'ID'}' class='forminput'><option value='APPROVE' selected>{ibf.lang.c_approve}</option>{$data[TOPIC]}->{'DELETE'}<option value='LEAVE' selected>{ibf.lang.c_leave}</option></select></td>
                      <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='top'>
                        <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>
                        <tr>
                          <td valign='top' width='15%'>{$data[POST]}->{'MEMBER_NAME'}</td>
                          <td valign='top' width='85%'><b>{ibf.lang.ss_posted_on}</b> {$data[POST]}->{'POST_DATE'}<hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>{$data[POST]}->{'POST'} ( <a href="javascript:PopUp('{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'}&CODE=readpost&ID={$data[POST]}->{'ID'}','ViewPost','400','200','0','1','1','1')">{ibf.lang.ss_read_more}</a> )</td>
                        </tr>
                        </table>
                      </td>
                    </tr>


<!--|IBF|render_topic_post|END|-->

<!--|IBF|online_menu|START|-->


    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_TWO}' id='controlpanel'>{ibf.lang.m_moderate}</td>
    </tr>
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'}'>{ibf.lang.m_approve}</a></td>
    </tr>
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'};CODE=prune'>{ibf.lang.m_prune}</a></td>
    </tr>
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'};CODE=delete'>{ibf.lang.m_delete}</a></td>
    </tr>
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'};CODE=open'>{ibf.lang.m_open}</a></td>
    </tr>
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'};CODE=move'>{ibf.lang.m_move}</a></td>
    </tr>
    <!-- To be added later
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_TWO}' id='controlpanel'>{ibf.lang.m_prefs}</td>
    </tr>
    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'}'>{ibf.lang.m_email}</a></td>
    </tr>
    -->


<!--|IBF|online_menu|END|-->

<!--|IBF|show_topic_results|START|-->


            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_ONE}'>
                <b>{ibf.lang.a_post_results}</b><hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>
                {ibf.lang.a_post_deleted} {$data[DELETED]}<br><br>
                {ibf.lang.a_post_approved} {$data[APPROVED]}<br><br>
                {ibf.lang.a_post_left} {$data[LEFT]}<br><br>
            </td>
            </tr>


<!--|IBF|show_topic_results|END|-->

<!--|IBF|main_splash|START|-->


            <tr>
             <td><b>{ibf.lang.mod_forum_t}</b><br>{ibf.lang.mod_forum}</td>
            </tr>
            <tr>
              <td>
               <table cellspacing='1' cellpadding='0' border='0' width='95%' align='center' bgcolor='{ibf.skin.TABLE_BORDER_COL}'>
                 <tr>
                  <td>
                    <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>
                     <tr>
                       <td width='54%' bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium'>{ibf.lang.forum_name}</td>
                       <td width='6%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.forum_topics}</td>
                       <td width='5%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.forum_posts}</td>
                       <td width='35%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.last_post}</td>
                     </tr>


<!--|IBF|main_splash|END|-->

<!--|IBF|move_form_header|START|-->


            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium' colspan='2'>{ibf.lang.search_move}</td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'>
               <i>{ibf.lang.define_search}</i>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='process_move'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_topics_cutoff}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='DAYS' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_sort}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><select name='ORDER' class='forminput'><option value='asc'>{ibf.lang.s_topics_asc}</option><option value='desc' selected>{ibf.lang.s_topics_desc}</option></select></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_limit}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='LIMIT' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='submit' class='forminput' value='{ibf.lang.submit_topics}'></form></td>
            </tr>


<!--|IBF|move_form_header|END|-->

<!--|IBF|delete_form_header|START|-->


            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium' colspan='2'>{ibf.lang.search_delete} $count</td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'>
               <i>{ibf.lang.define_search}</i>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='process_delete'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_topics_cutoff}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='DAYS' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_sort}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><select name='ORDER' class='forminput'><option value='asc'>{ibf.lang.s_topics_asc}</option><option value='desc' selected>{ibf.lang.s_topics_desc}</option></select></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_limit}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='LIMIT' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='submit' class='forminput' value='{ibf.lang.submit_topics}'></form></td>
            </tr>


<!--|IBF|delete_form_header|END|-->

<!--|IBF|render_cat|START|-->


     <tr>
       <td bgcolor="{ibf.skin.CAT_BACK}" id='category' colspan='4'>{$data[CAT_NAME]}</td>
     </tr>


<!--|IBF|render_cat|END|-->

<!--|IBF|topic_footer|START|-->


        <tr>
          <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='4' align='center'><input type='submit' value='{ibf.lang.process_records}' class='forminput'></td>
        </tr> 
       </table>
      </td>
     </tr>
    </table>


<!--|IBF|topic_footer|END|-->

<!--|IBF|show_move_results|START|-->


            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_ONE}'>
                <b>{ibf.lang.a_topic_results}</b><hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>
                {ibf.lang.a_topic_d_left} {$data[leave]}<br><br>
                {ibf.lang.a_topic_moved} {$data[move]}<br><br>
            </td>
            </tr>


<!--|IBF|show_move_results|END|-->

<!--|IBF|search_header|START|-->


            <tr>
             <td><b>{ibf.lang.f_moderate} {$data[FORUM_NAME]}</b><br>{ibf.lang.f_moderate_t}
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='{$data[search_type]}'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
              <td>
               <table cellspacing='1' cellpadding='0' border='0' width='95%' align='center' bgcolor='{ibf.skin.TABLE_BORDER_COL}'>
                 <tr>
                  <td>
                    <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>
                     <tr>
                       <td width='15%' bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium'>{ibf.lang.tt_action}</td>
                       <td width='85%' bgcolor='{ibf.skin.TITLEBACK}'  id='titlemedium'>{ibf.lang.tt_details}</td>
                     </tr>


<!--|IBF|search_header|END|-->

<!--|IBF|move_ops|START|-->


                <tr>
                  <td><table cellspacing='0' cellpadding='4' border='0' width='100%' align='center'>
                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.move_topics_from} <b>$forum_name</b> {ibf.lang.to}:
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='do_move'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
                </td>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}'>$html</td>
                </tr>
                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}'><b>{ibf.lang.delete_old}</b></td>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}'>
                  <select name='leave' class='forminput'>
                  <option value='leave_full'  selected>{ibf.lang.leave_locked}
                  <option value='leave_empty'>{ibf.lang.leave_empty}
                  <option value='delete'>{ibf.lang.dont_leave}
                  </select>
                </td>
                </tr>
                </table>
                </td>
                </tr>


<!--|IBF|move_ops|END|-->

<!--|IBF|read_post|START|-->


               <table cellspacing='1' cellpadding='0' border='0' width='100%' align='center' bgcolor='{ibf.skin.TABLE_BORDER_COL}'>
                 <tr>
                  <td>
                    <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>
                     <tr>
                        <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{$data[POST]}</td>
                     </tr>
                    </table>
                   </td>
                 </tr>
                </table>


<!--|IBF|read_post|END|-->

<!--|IBF|forum_splash|START|-->


            <tr>
             <td><b>{ibf.lang.f_moderate} {$data[FORUM_NAME]}</b><br>{ibf.lang.f_moderate_t}</td>
            </tr>
            <tr>
              <td>
               <table cellspacing='1' cellpadding='0' border='0' width='95%' align='center' bgcolor='{ibf.skin.TABLE_BORDER_COL}'>
                 <tr>
                  <td>
                    <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>


<!--|IBF|forum_splash|END|-->

<!--|IBF|show_open_results|START|-->


            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_ONE}'>
                <b>{ibf.lang.a_topic_results}</b><hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>
                {ibf.lang.a_topic_open} {$data[open]}<br><br>
                {ibf.lang.a_topic_close} {$data[closed]}<br><br>
            </td>
            </tr>


<!--|IBF|show_open_results|END|-->

<!--|IBF|render_topic_title|START|-->


                    <tr>
                      <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2'>{ibf.lang.ss_topic_title} <b>{$data[TOPIC_TITLE]}</b></td>
                    </tr>


<!--|IBF|render_topic_title|END|-->

<!--|IBF|render_forum|START|-->


     <tr>
       <td bgcolor="{ibf.skin.FORUM_COL_TWO}"><span id="linkthru"><b><a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f={$data[FORUM_ID]}">{$data[FORUM_NAME]}</a></b></span><br>{ibf.lang.topic_to_mod}&nbsp;<b>{$data[TOPICS_NOT_APPROVED]}</b></td>
        <td bgcolor="{ibf.skin.FORUM_COL_ONE}" align='center' valign='middle'>{$data[FORUM_TOPICS]}</td>
        <td bgcolor="{ibf.skin.FORUM_COL_ONE}" align='center' valign='middle' id='highlight'>{$data[FORUM_POSTS]}</td>
        <td bgcolor="{ibf.skin.FORUM_COL_ONE}" align="left" valign='middle'><span id='highlight'>{$data[FORUM_LAST_POST]}</span>
     </tr>


<!--|IBF|render_forum|END|-->

<!--|IBF|render_newtopic|START|-->


                    <tr>
                      <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2'>{ibf.lang.ss_topic_title} <b>{$data[TOPIC]}->{'TOPIC_TITLE'}</b></td>
                    </tr>
                      <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='middle'><input type='hidden' name='R_POST_{$data[TOPIC]}->{'TOPIC_ID'}' value='{$data[POST]}->{'POST_ID'}'><input type='hidden' name='POST_{$data[TOPIC]}->{'TOPIC_ID'}' value='{$data[POST]}->{'ID'}'><select name='CHOICE_{$data[TOPIC]}->{'TOPIC_ID'}' class='forminput'><option value='APPROVE' selected>{ibf.lang.c_approve}</option>{$data[TOPIC]}->{'DELETE'}<option value='LEAVE' selected>{ibf.lang.c_leave}</option></select></td>
                      <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='top'>
                        <table cellspacing='1' cellpadding='4' border='0' width='100%' align='center'>
                        <tr>
                          <td valign='top' width='15%'><a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Profile&CODE=03&MID={$data[TOPIC]}->{'TOPIC_STARTER'}" target='_blank'><b>{$data[TOPIC]}->{'TOPIC_STARTER_N'}</b></a></td>
                          <td valign='top' width='85%'><b>{ibf.lang.ss_posted_on}</b> {$data[TOPIC]}->{'TOPIC_START_DATE'}<hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>{$data[POST]}->{'POST'} ( <a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Profile&CODE=03&MID={$data[TOPIC]}->{'{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$iB::IN{'f'}&CODE=readpost&ID={$data[POST]}->{'ID'}','ViewPost','400','200','0','1','1','1')">{ibf.lang.ss_read_more}</a> )</td>
                        </tr>
                        </table>
                      </td>
                    </tr>


<!--|IBF|render_newtopic|END|-->

<!--|IBF|topic_form|START|-->


            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'>
               <i>{ibf.lang.define_search}</i>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='topic_search'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_topics_cutoff}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='DAYS' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_sort}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><select name='ORDER' class='forminput'><option value='asc'>{ibf.lang.s_topics_asc}</option><option value='desc' selected>{ibf.lang.s_topics_desc}</option></select></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_limit}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='LIMIT' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='submit' name='TOPICS' class='forminput' value='{ibf.lang.submit_topics}'></form></td>
            </tr>


<!--|IBF|topic_form|END|-->

<!--|IBF|render_opentopic|START|-->


                 <tr>
                  <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='middle'>{$data[SELECT]}</td>
                  <td bgcolor='{ibf.skin.MISCBACK_ONE}'><span id="linkthru"><a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ST&f={$data[FORUM_ID]}&t={$data[TOPIC_ID]}" target='_blank'>{$data[TOPIC_TITLE]}</a></span><br>{$data[TOPIC_DESC]}</td>
                  <td bgcolor='{ibf.skin.MISCBACK_ONE}' align='center' valign='middle'>{$data[TOPIC_POSTS]}</td>
                  <td bgcolor='{ibf.skin.MISCBACK_ONE}'><span id='highlight'>{$data[TOPIC_LAST_DATE]}</span><br>{ibf.lang.st_by} {$data[LAST_POSTER]}</td>
                 </tr>


<!--|IBF|render_opentopic|END|-->

<!--|IBF|post_form|START|-->


            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2'>
               <i>{ibf.lang.define_search}</i>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='theForm'>
               <input type='hidden' name='act' value='ModCP'>
               <input type='hidden' name='CODE' value='post_search'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               <input type='hidden' name='f' value='$iB::IN{'f'}'>
            </td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_posts_cutoff}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='DAYS' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_sort}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><select name='ORDER' class='forminput'><option value='asc'>{ibf.lang.s_topics_asc}</option><option value='desc' selected>{ibf.lang.s_topics_desc}</option></select></td>
            </tr>
            <tr>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'>{ibf.lang.s_limit}</td>
             <td bgcolor='{ibf.skin.MISCBACK_ONE}'><input type='text' name='LIMIT' size='5' maxlength='10' class='forminput'></td>
            </tr>
            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='submit' name='POSTS' value='{ibf.lang.submit_posts}' class='forminput'></form></td>
            </tr>


<!--|IBF|post_form|END|-->

<!--|IBF|startcp|START|-->


     <script langauge="javascript">
     <!--
        function check_prune() {
            var message = "{ibf.lang.prune_confirm} "+document.theForm.DAYS.value+"\\n{ibf.lang.prune_confirm_b}";
            if ( confirm( message ) ) {
                document.theForm.submit();
            } else {
                return false;
            }
        }
        function PopUp(url, name, width,height,center,resize,scroll,posleft,postop) {
            if (posleft != 0) { x = posleft }
            if (postop  != 0) { y = postop  }
            if (!scroll) { scroll = 1 }
            if (!resize) { resize = 1 }
            if ((parseInt (navigator.appVersion) >= 4 ) && (center)) {
              X = (screen.width  - width ) / 2;
              Y = (screen.height - height) / 2;
            }
            if (scroll != 0) { scroll = 1 }
            var Win = window.open( url, name, 'width='+width+',height='+height+',top='+Y+',left='+X+',resizable='+resize+',scrollbars='+scroll+',location=no,directories=no,status=no,menubar=no,toolbar=no');
        }
     //-->
     </script>
     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.TABLE_WIDTH}' bgcolor='{ibf.skin.TABLE_BORDER_COL}' align='center'>
      <tr>
        <td width='20%' bgcolor='{ibf.skin.MISCBACK_ONE}' valign='top'>
          <table cellspacing='0' cellpadding='4' border='0' width='100%' align='center'>
            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' valign='left' id='titlelarge'>{ibf.lang.menu}</td>
            </tr>
          <!--menu goes here-->
          </table>
        </td>
        <td width='80%' bgcolor='{ibf.skin.MISCBACK_ONE}' valign='top'>
          <table cellspacing='0' cellpadding='4' border='0' width='100%' align='center'>
            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' valign='left' id='titlelarge'>{ibf.lang.display}</td>
            </tr>
          <!--main content-->


<!--|IBF|startcp|END|-->

<!--|IBF|show_delete_results|START|-->


            <tr>
            <td bgcolor='{ibf.skin.MISCBACK_ONE}'>
                <b>{ibf.lang.a_topic_results}</b><hr noshade size=1 color='{ibf.skin.TABLE_BORDER_COL}'>
                {ibf.lang.a_topic_d_delete} {$data[delete]}<br><br>
            </td>
            </tr>


<!--|IBF|show_delete_results|END|-->

<!--|IBF|search_footer|START|-->


        <tr>
          <td bgcolor='{ibf.skin.MISCBACK_TWO}' colspan='2' align='center'><input type='submit' value='{ibf.lang.process_records}' class='forminput'></td>
        </tr> 
       </table>
      </td>
     </tr>
    </table>


<!--|IBF|search_footer|END|-->

<!--|IBF|topic_form_header|START|-->


            <tr>
             <td bgcolor='{ibf.skin.TITLEBACK}' id='titlemedium' colspan='2'>{ibf.lang.q_topics} $count</td>
            </tr>


<!--|IBF|topic_form_header|END|-->

<!--|IBF|offline_menu|START|-->


    <tr>
     <td bgcolor='{ibf.skin.MISCBACK_ONE}'><b>{ibf.lang.menu_off}</b></td>
    </tr>


<!--|IBF|offline_menu|END|-->

<!--|IBF|end_main_splash|START|-->


       </table>
      </td>
     </tr>
    </table>


<!--|IBF|end_main_splash|END|-->

