<!--|IBF|body|START|-->


                <tr><!--test-->
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='top'>{ibf.lang.message}<br><br><span style='font-size:12px;color:red;font-weight:bold'>{ibf.lang.warn}</span></td> 
                <td bgcolor='{ibf.skin.MISCBACK_ONE}'><textarea cols='60' rows='12' wrap='soft' name='Post' tabindex='3' class='textinput'></textarea></td>
                </tr>


<!--|IBF|body|END|-->

<!--|IBF|foot|START|-->


                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_TWO}' align='center' colspan='2'>
                <input type="submit" value="{ibf.lang.send}" class='forminput'>
                </tr>
               </table>
            </td>
         </tr>
      </table>
      </form>


<!--|IBF|foot|END|-->

<!--|IBF|header|START|-->


     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}" method="post" name='REPLIER'>
     <input type='hidden' name='act' value='Report'>
     <input type='hidden' name='SEND' value='1'>
     <input type='hidden' name='s' value='{ibf.session_id}'>
     <input type='hidden' name='f' value='$iB::IN{'f'}'>
     <input type='hidden' name='t' value='$iB::IN{'t'}'>
     <input type='hidden' name='p' value='$iB::IN{'p'}'>
     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.TABLE_WIDTH}' bgcolor='{ibf.skin.TABLE_BORDER_COL}' align='center'>
        <tr>
            <td>
               <table cellpadding='4' cellspacing='1' border='0' width='100%'>
                <tr>
                <td bgcolor='{ibf.skin.TITLEBACK}' align='left' colspan='2' id='titlemedium'>{ibf.lang.title}</td>
                </tr>
                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' align='left'  width='20%' valign='top'><b>{ibf.lang.in_forum}</b></td>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' width='80%'><b>{$data[FORUM]}->{'FORUM_NAME'}</b></td>
                </tr>
                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' align='left'  width='20%' valign='top'><b>{ibf.lang.in_topic}</b></td>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' width='80%'><b>{$data[TOPIC]}->{'TOPIC_TITLE'}</b></td>
                </tr>


<!--|IBF|header|END|-->

<!--|IBF|sent_screen|START|-->


     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.TABLE_WIDTH}' bgcolor='{ibf.skin.TABLE_BORDER_COL}' align='center'>
        <tr>
            <td>
               <table cellpadding='4' cellspacing='0' border='0' width='100%'>
                <tr>
                   <td bgcolor='{ibf.skin.TITLEBACK}' colspan='2' id='titlelarge'><b>{ibf.lang.email_sent}</b></td>                
                 </tr>
                 <tr>
                   <td bgcolor='{ibf.skin.MISCBACK_ONE}' colspan='2' id='usermenu'><img src='{ibf.vars.html_url}/images/cp_redtri.gif' border='0' height='15' width='15' align='middle' alt=''> <b>{ibf.lang.email_sent}</b></td>
                 </tr>
                 </tr>
                 <tr>
                   <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='middle'><img src='{ibf.vars.html_url}/images/msg_sent.gif' border='0' height='32' width='32' alt=''></td>
                   <td bgcolor='{ibf.skin.MISCBACK_ONE}' valign='middle'><b>{ibf.lang.email_sent_txt} $member_name</td>
                 </tr>
                </table>
            </td>
         </tr>
      </table>


<!--|IBF|sent_screen|END|-->

<!--|IBF|guest|START|-->


                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' align='left'  width='20%' valign='top'><b>{ibf.lang.name}</b></td>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' width='80%'><input type='text' name='name' value='' size='50' maxlength='50' class='forminput'></td>
                </tr>
                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' align='left'  width='20%' valign='top'><b>{ibf.lang.email}</b></td>
                <td bgcolor='{ibf.skin.MISCBACK_ONE}' width='80%'><input type='text' name='email' value='' size='50' maxlength='50' class='forminput'></td>
                </tr>


<!--|IBF|guest|END|-->

