<!--|IBF|stats_header|START|-->


<!-- Board Stats -->
    <br>
    <table cellpadding='2' width='{ibf.skin.tbl_width}' align='center' id='solidborder'>
    <tr>
     <td>
     
    <table cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
          <td>
            <table cellpadding='4' cellspacing='1' border='0' width='100%'>
            <tr>
			   <td id='titlemedium' colspan='2'>{ibf.lang.board_stats}</td>
		   </tr>


<!--|IBF|stats_header|END|-->

<!--|IBF|ActiveUsers|START|-->


        <tr>
           <td id='category' colspan='2'>$active[TOTAL] {ibf.lang.active_users}</td>
    	</tr>
    	<tr>
          <td width="5%" id='forum1'>{ibf.skin.F_ACTIVE}</td>
          <td id='forum2' width='95%'><b>{$active[GUESTS]}</b> {ibf.lang.guests}, <b>$active[MEMBERS]</b> {ibf.lang.public_members} <b>$active[ANON]</b> {ibf.lang.anon_members} {$active[LINK]}<br>{$active[NAMES]}</td>
        </tr>


<!--|IBF|ActiveUsers|END|-->

<!--|IBF|ShowStats|START|-->


		   <tr>
		     <td id='category' colspan='2'>{ibf.lang.board_stats}</td>
		   </tr>
		   <tr>
			 <td id='forum1' width='5%' valign='middle'>{ibf.skin.F_STATS}</td>
			 <td id='forum2' width="95%" align='left'>$text<br>{ibf.lang.most_online}</td>
		   </tr>


<!--|IBF|ShowStats|END|-->

<!--|IBF|birthdays|START|-->


        <tr>
           <td id='category' colspan='2'>{ibf.lang.birthday_header}</td>
    	</tr>
    	<tr>
          <td id='forum1' width='5%' valign='middle'>{ibf.skin.F_ACTIVE}</td>
          <td id='forum2' width='95%'><b>$total</b> $birth_lang<br>$birthusers</td>
        </tr>


<!--|IBF|birthdays|END|-->

<!--|IBF|stats_footer|START|-->


         </table>
		</td>
	  </tr>
	 </table>
	 
	 </td>
	 </tr>
	 </table>
    <!-- Board Stats -->


<!--|IBF|stats_footer|END|-->

<!--|IBF|BoardInformation|START|-->


   <br>
   <table cellspacing='4' cellpadding='0' width='70%' border='0' align='center'>
      <tr>
       <td align='center'>[ <a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Login&CODE=06">{ibf.lang.d_delete_cookies}</a> ] :: [ <a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Login&CODE=05">{ibf.lang.d_post_read}</a> ]</td>
    </tr>
   </table>


<!--|IBF|BoardInformation|END|-->

<!--|IBF|CatHeader_Expanded|START|-->


<table width="{ibf.skin.tbl_width}" align="center" border="0" cellspacing="1" cellpadding="0" bgcolor="{ibf.skin.tbl_border}">
  <tr> 
    <td id='maintitleback' background='{ibf.vars.img_url}/tile_back.gif'> 
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr> 
          <td>{ibf.skin.CAT_IMG}</td>
          <td width="100%" id="maintitle"><a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&c={$Data['id']}">{$Data['name']}</a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td id='mainbg'> 
      <table width="100%" border="0" cellspacing="1" cellpadding="4">
        <tr> 
          <td align="center" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'><img src="{ibf.vars.img_url}/spacer.gif" alt="" width="28" height="1"></td>
          <td width="59%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.cat_name}</td>
          <td align="center" width="7%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.topics}</td>
          <td align="center" width="7%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.replies}</td>
          <td width="27%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.last_post_info}</td>
        </tr>


<!--|IBF|CatHeader_Expanded|END|-->

<!--|IBF|subheader|START|-->


	<table width="{ibf.skin.tbl_width}" align="center" border="0" cellspacing="1" cellpadding="0" bgcolor="{ibf.skin.tbl_border}">
	  <tr> 
		<td id='mainbg'> 
            <table width="100%" border="0" cellspacing="1" cellpadding="4">
			<tr> 
			  <td align="center" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'><img src="{ibf.vars.img_url}/spacer.gif" alt="" width="28" height="1"></td>
			  <td width="59%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.cat_name}</td>
			  <td align="center" width="7%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.topics}</td>
			  <td align="center" width="7%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.replies}</td>
			  <td width="27%" nowrap id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.last_post_info}</td>
			</tr>


<!--|IBF|subheader|END|-->

<!--|IBF|end_this_cat|START|-->


<tr> 
          <td id='mainfoot' colspan="5">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>


<!--|IBF|end_this_cat|END|-->

<!--|IBF|end_all_cats|START|-->


	<!--</table>
   </td>
   </tr>
   </table>-->


<!--|IBF|end_all_cats|END|-->

<!--|IBF|newslink|START|-->


<b>{ibf.vars.board_name} {ibf.lang.newslink} <a href='{ibf.script_url}&act=ST&f=$fid&t=$tid'>$title</a></b><br>


<!--|IBF|newslink|END|-->

<!--|IBF|PageTop|START|-->


	<table cellpadding='4' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
	 <tr>
	  <td align='left' valign='bottom'><!-- IBF.NEWSLINK -->{ibf.lang.welcome_back_text} $lastvisit</td>
	  <td align='right' valign='bottom'>
		  <a href='{ibf.script_url}&act=Stats&CODE=leaders'>{ibf.lang.sm_forum_leaders}</a> |
		  <a href='{ibf.script_url}&act=Search&CODE=getactive'>{ibf.lang.sm_todays_posts}</a><br>
		  <a href='{ibf.script_url}&act=Stats'>{ibf.lang.sm_today_posters}</a> |
		  <a href='{ibf.script_url}&act=Members&max_results=10&sort_key=posts&sort_order=desc'>{ibf.lang.sm_all_posters}</a>
	  </td>
	 </tr>
	</table>


<!--|IBF|PageTop|END|-->

<!--|IBF|ForumRow|START|-->


    <!-- Forum {$info['id']} entry -->
        <tr> 
          <td id="forum2" align="center">{$info['img_new_post']}</td>
          <td id="forum2" width="59%"><span id="linkthru"><b><a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=SF&f={$info['id']}">{$info['name']}</a></b></span><br><span id='desc'>{$info['description']}</span><br>{$info['moderator']}</td>
          <td id="forum1" align="center" width="7%">{$info['topics']}</td>
          <td id="forum1" align="center" width="7%">{$info['posts']}</td>
          <td id="forum1" width="27%">{$info['last_post']}<br>{ibf.lang.in}: {$info['last_topic']}<br>{ibf.lang.by}: {$info['last_poster']}</td>
        </tr>
    <!-- End of Forum {$info['id']} entry -->


<!--|IBF|ForumRow|END|-->

