<!--|IBF|user_edit|START|-->


<tr>
 <td align='left'><a href='{$info['base_url']}&act=UserCP&CODE=22'>{ibf.lang.edit_my_sig}</a> |
                  <a href='{$info['base_url']}&act=UserCP&CODE=24'>{ibf.lang.edit_avatar}</a> |
                  <a href='{$info['base_url']}&act=UserCP&CODE=01'>{ibf.lang.edit_profile}</a></td>
</tr>


<!--|IBF|user_edit|END|-->

<!--|IBF|show_profile|START|-->


<table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' align='center'>
 <tr>
  <td><span id='pagetitle'>{$info['name']}</span></td>
 </tr>
 <tr>
  <td align='left'><a href='{$info['base_url']}&act=Search&CODE=01&cat_forum=cat&cats=all&useridsearch={$info['mid']}'>{ibf.lang.find_posts}</a> |
      <a href='{$info['base_url']}&act=Msg&CODE=02&MID={$info['mid']}'>{ibf.lang.add_to_contact}</a></td>
  </tr>
  <!--MEM OPTIONS-->
</table>

<table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' align='center'>
  <tr>
    <td>
      <table cellpadding='0' cellspacing='1' border='0' width='100%'  bgcolor='{ibf.skin.tbl_border}'>
        <tr>
          <td width='50%' valign='top' id='row1'>
           <table cellpadding='6' cellspacing='1' border='0' width='100%' id='row1'>
            <tr>
              <td align='center' colspan='2' id='titlemedium'>{ibf.lang.active_stats}</td>
            </tr>
            <tr>
              <td align='left' width='30%' valign='top'><b>{ibf.lang.total_posts}</b></td>
              <td align='left'  id='bottomborder'><b>{$info['posts']}</b><br>( {$info['total_pct']}% {ibf.lang.total_percent} )</td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.posts_per_day}</b></td>
              <td align='left' id='bottomborder'><b>{$info['posts_day']}</b></td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.joined}</b></td>
              <td align='left' id='bottomborder'><b>{$info['joined']}</b></td>
            </tr>
            <tr>
			  <td align='left' valign='top'><b>{ibf.lang.fav_forum}</b></td>
			  <td align='left'><a href='{$info['base_url']}&act=SF&f={$info['fav_id']}'>{$info['fav_forum']}</a><br>{$info['fav_posts']} {ibf.lang.fav_posts}<br>( {$info['percent']}% {ibf.lang.fav_percent} )</td>
			</tr>
			<tr>
			  <td align='left' valign='top'><b>{ibf.lang.user_local_time}</b></td>
			  <td align='left'>{$info['local_time']}</td>
			</tr>
			</table>
	      </td>
	      
	      <!-- Communication -->
	      
	     <td width='50%' valign='top' id='row1'>
           <table cellpadding='6' cellspacing='1' border='0' width='100%' id='row1'>
            <tr>
              <td align='center' colspan='2' id='titlemedium'>{ibf.lang.communicate}</td>
            </tr>
            <tr>
              <td align='left' width='30%' valign='top'><b>{ibf.lang.email}</b></td>
              <td align='left'  id='bottomborder'>{$info['email']}</td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.aim}</b></td>
              <td align='left' id='bottomborder'>{$info['aim_name']}</td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.icq}</b></td>
              <td align='left' id='bottomborder'>{$info['icq_number']}</td>
            </tr>
            <tr>
			  <td align='left' valign='top'><b>{ibf.lang.yahoo}</b></td>
			  <td align='left' id='bottomborder'>{$info['yahoo']}</td>
			</tr>
			<tr>
			  <td align='left' valign='top'><b>{ibf.lang.msn}</b></td>
			  <td align='left' id='bottomborder'>{$info['msn_name']}</td>
			</tr>
			<tr>
			  <td align='left' valign='top'><b>{ibf.lang.pm}</b></td>
			  <td align='left'><a href='{$info['base_url']}&act=Msg&CODE=4&MID={$info['mid']}'>{ibf.lang.click_here}</a></td>
			</tr>
			</table>
	      </td>
	      
	      <!-- END CONTENT ROW 1 -->
	      <!-- information -->
	      
	    </tr>
	    <tr>
          <td width='50%' valign='top' id='row1'>
           <table cellpadding='6' cellspacing='1' border='0' width='100%' id='row1'>
            <tr>
              <td align='center' colspan='2' id='titlemedium'>{ibf.lang.info}</td>
            </tr>
            <tr>
              <td align='left' width='30%' valign='top'><b>{ibf.lang.mgroup}</b></td>
              <td align='left'  id='bottomborder'>{$info['group_title']}</td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.mtitle}</b></td>
              <td align='left' id='bottomborder'>{$info['member_title']}</td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.homepage}</b></td>
              <td align='left' id='bottomborder'>{$info['homepage']}</td>
            </tr>
            <tr>
			  <td align='left' valign='top'><b>{ibf.lang.birthday}</b></td>
			  <td align='left' id='bottomborder'>{$info['birthday']}</td>
			</tr>
			<tr>
			  <td align='left' valign='top'><b>{ibf.lang.location}</b></td>
			  <td align='left' id='bottomborder'>{$info['location']}</td>
			</tr>
			<tr>
			  <td align='left' valign='top'><b>{ibf.lang.interests}</b></td>
			  <td align='left'>{$info['interests']}</td>
			</tr>
			</table>
	      </td>
	      
	      <!-- Profile -->
	      
	     <td width='50%' valign='top' id='row1'>
           <table cellpadding='6' cellspacing='1' border='0' width='100%' id='row1'>
            <tr>
              <td align='center' colspan='2' id='titlemedium'>{ibf.lang.post_detail}</td>
            </tr>
            <tr>
              <td align='left' width='30%' valign='top'><b>{ibf.lang.avatar}</b></td>
              <td align='left'  id='bottomborder'>{$info['avatar']}</td>
            </tr>
            <tr>
              <td align='left' valign='top'><b>{ibf.lang.siggie}</b></td>
              <td align='left'>{$info['signature']}</td>
            </tr>
			</table>
	      </td>
	      </tr>
	      <tr>
	       <td colspan='2' id='row2' align='center' style='height:24px'>&lt;( <a href='javascript:history.go(-1)'>{ibf.lang.back}</a> )</td>
	      </tr>
	  </table>
	</td>
   </tr>
 </table>


<!--|IBF|show_profile|END|-->

