<!--|IBF|modtopicview_start|START|-->



<form name='ibform' action='{ibf.script_url}' method='POST'>
 <input type='hidden' name='s' value='{ibf.session_id}'>
 <input type='hidden' name='act' value='ModCP'>
 <input type='hidden' name='CODE' value='domodposts'>
 <input type='hidden' name='f' value='{$fid}'>
 <input type='hidden' name='tid' value='{$tid}'>
 
<tr>
  <td colspan='2'>
    <table cellpadding='2' cellspacing='1' border='0' width='100%' id='fancyborder' align='center'>
     <tr>
       <td><span id='pagetitle'>{ibf.lang.cp_mod_posts_title2} $forumname</span>
       <br>$pages
       </td>
     </tr>
	<tr>
	 <td colspan='2'>
	  <table width='100%' cellpadding='4' cellspacing='1' bgcolor='{ibf.skin.tbl_border}'>
		<tr>
			<td valign='middle' id='titlemedium' align='left' colspan='2'>$title</td>
		</tr>
                


<!--|IBF|modtopicview_start|END|-->

<!--|IBF|modpost_topicstart|START|-->



<tr>
  <td colspan='2'>
    <table cellpadding='2' cellspacing='1' border='0' width='100%' id='fancyborder' align='center'>
     <tr>
       <td><span id='pagetitle'>{ibf.lang.cp_mod_posts_title2} $forumname</span>
       </td>
     </tr>
     <tr>
	 <td>
	  <table width='100%' cellpadding='4' cellspacing='1' bgcolor='{ibf.skin.tbl_border}'>
	  <tr>
	    <td id='titlemedium' width='40%'>{ibf.lang.cp_3_title}</td>
	    <td id='titlemedium' width='20%' align='center'>{ibf.lang.cp_3_replies}</td>
	    <td id='titlemedium' width='20%' align='center'>{ibf.lang.cp_3_approveall}</td>
	    <td id='titlemedium' width='20%' align='center'>{ibf.lang.cp_3_viewall}</td>
	  </tr>
	 


<!--|IBF|modpost_topicstart|END|-->

<!--|IBF|modpost_topicentry|START|-->



	  <tr>
	    <td id='row1' width='40%' align='left'><b><a href='{ibf.script_url}&act=ST&f=$fid&t=$tid' target='_blank'>$title</a></b></td>
	    <td id='row1' width='20%' align='center'>$replies</td>
	    <td id='row1' width='20%' align='center'><a href='{ibf.script_url}&act=ModCP&f=$fid&tid=$tid&CODE=modtopicapprove'>{ibf.lang.cp_3_approveall}</a></td>
	    <td id='row1' width='20%' align='center'><a href='{ibf.script_url}&act=ModCP&f=$fid&tid=$tid&CODE=modtopicview'>{ibf.lang.cp_3_viewall}</a></td>
	  </tr>
	 


<!--|IBF|modpost_topicentry|END|-->

<!--|IBF|modpost_topicend|START|-->



	  </table>
	 </td>
	</tr>
   </table>
  </td>
 </tr>
	 


<!--|IBF|modpost_topicend|END|-->

<!--|IBF|modtopics_start|START|-->



<form name='ibform' action='{ibf.script_url}' method='POST'>
 <input type='hidden' name='s' value='{ibf.session_id}'>
 <input type='hidden' name='act' value='ModCP'>
 <input type='hidden' name='CODE' value='domodtopics'>
 <input type='hidden' name='f' value='{$fid}'>
 
<tr>
  <td colspan='2'>
    <table cellpadding='2' cellspacing='1' border='0' width='100%' id='fancyborder' align='center'>
     <tr>
       <td><span id='pagetitle'>{ibf.lang.cp_mod_topics_title2} $forumname</span>
       <br>$pages
       </td>
     </tr>
	 


<!--|IBF|modtopics_start|END|-->

<!--|IBF|modtopics_end|START|-->



	<tr>
	 <td id='row2' align='center'><select name='type' class='forminput'><option value='approve'>{ibf.lang.cp_1_approve}</option><option value='remove'>{ibf.lang.cp_1_remove}</option></select>&nbsp;&nbsp;{ibf.lang.cp_1_selected}&nbsp;&nbsp;<input type='submit' value='{ibf.lang.cp_1_go}' class='forminput'></td>
	</tr>
	</table>
   </td>
  </tr>
  </form>
	 


<!--|IBF|modtopics_end|END|-->

<!--|IBF|mod_topic_title|START|-->



			<tr>
             <td colspan='2'>
			  <table width='100%' cellpadding='4' cellspacing='1' bgcolor='{ibf.skin.tbl_border}'>
                <tr>
                	<td valign='middle' id='titlemedium' align='left' colspan='2'><input type='checkbox' name='TID_$topic_id' value='1'>&nbsp;&nbsp; $title</td>
                </tr>
                


<!--|IBF|mod_topic_title|END|-->

<!--|IBF|mod_postentry|START|-->


			
                <tr>
        		    <td valign='top' id='row1' width='25%'><span id='normalname'>{$data['member']['name']}</span><br><br>{$data['member']['avatar']}<span id='postdetails'><br>{$data['member']['MEMBER_GROUP']}<br>{$data['member']['MEMBER_POSTS']}<br>{$data['member']['MEMBER_JOINED']}</span></td>
                    <td valign='top' height='100%' id='row1' width='75%'>
                    	<b>{ibf.lang.posted_on} {$data['msg']['post_date']}</b><br><br>
            		    <span id='postcolor'>
           			     {$data['msg']['post']}
                        </span>
                    </td>
                 </tr>
			  



<!--|IBF|mod_postentry|END|-->

<!--|IBF|mod_postentry_checkbox|START|-->



			<tr>
			 <td align='left' colspan='2' id='category'><input type='checkbox' name='PID_$pid' value='1'>&nbsp;&nbsp;{ibf.lang.cp_3_postno}&nbsp;$pid</td>
			</tr>



<!--|IBF|mod_postentry_checkbox|END|-->

<!--|IBF|mod_topic_spacer|START|-->



			</table>
			</td>
		    </tr>
			<tr>
             <td colspan='2'>
			  &nbsp;
			</td>
		    </tr>



<!--|IBF|mod_topic_spacer|END|-->

<!--|IBF|results|START|-->



<tr>
  <td colspan='2'>
    <table cellpadding='2' cellspacing='1' border='0' width='100%' id='fancyborder' align='center'>
     <tr>
       <td><span id='pagetitle'>{ibf.lang.cp_results}</span>
       </td>
     </tr>
	  <tr>
	    <td colspan='2'><b>$text</b></td>
	  </tr>
	 </table>
   </td>
  </tr>



<!--|IBF|results|END|-->

<!--|IBF|prune_confirm|START|-->



<tr>
  <td colspan='2'>
    <table cellpadding='2' cellspacing='1' border='0' width='100%' id='fancyborder' align='center'>
     <tr>
       <td><span id='pagetitle'>{ibf.lang.cp_check_result}</span>
           <br>{ibf.lang.cp_check_text}
       </td>
     </tr>
	  <tr>
	    <td><b>{ibf.lang.cp_total_topics}</b></td>
	    <td>$tcount</td>
	  </tr>
	  <tr>
	    <td><b><span style='color:red'>{ibf.lang.cp_total_match}</span></b></td>
	    <td><span style='color:red'>$count</span></td>
	  </tr>
	  <tr>
	    <td colspan='2' align='center' id='row2'><b><a href='{ibf.script_url}$link'>$link_text</a></b></td>
	  </tr>
	 </table>
   </td>
  </tr>



<!--|IBF|prune_confirm|END|-->

<!--|IBF|prune_splash|START|-->



 <form name='ibform' action='{ibf.script_url}' method='POST'>
 <input type='hidden' name='s' value='{ibf.session_id}'>
 <input type='hidden' name='act' value='ModCP'>
 <input type='hidden' name='CODE' value='prune'>
 <input type='hidden' name='f' value='{$forum['id']}'>
 <input type='hidden' name='check' value='1'>
 
 <!-- IBF.CONFIRM -->
 
 <tr>
  <td colspan='2' id='pagetitle'>{ibf.lang.cp_prune} {$forum['name']}</td>
 </tr>
 <tr>
  <td colspan='2'>{ibf.lang.cp_prune_text}</td>
 </tr>
 
 <tr>
  <td width='40%' id='row2'>{ibf.lang.cp_action}</td>
  <td id='row2'><select name='df' class='forminput'>$forums</select></td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_prune_days}</td>
  <td><input type='text' size='40' name='dateline' value='{$ibforums->input['dateline']}' class='forminput'></td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_prune_type}</td>
  <td>$select</td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_prune_replies}</td>
  <td><input type='text' size='40' name='posts' value='{$ibforums->input['posts']}' class='forminput'></td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_prune_member}</td>
  <td><input type='text' size='40' name='member' value='{$ibforums->input['member']}' class='forminput'></td>
 </tr>
 <tr>
  <td colspan='2' align='center'><input type='submit' value='{ibf.lang.cp_prune_sub1}' class='forminput'></td>
 </tr>
 </form>



<!--|IBF|prune_splash|END|-->

<!--|IBF|edit_user_form|START|-->



 <form name='ibform' action='{ibf.script_url}' method='POST'>
 <input type='hidden' name='s' value='{ibf.session_id}'>
 <input type='hidden' name='act' value='ModCP'>
 <input type='hidden' name='CODE' value='compedit'>
 <input type='hidden' name='f' value='{$ibforums->input['f']}'>
 <input type='hidden' name='memberid' value='{$profile['id']}'>
 <tr>
  <td colspan='2' id='pagetitle'>{ibf.lang.cp_edit_user}: {$profile['name']}</td>
 </tr>
 <tr>
  <td width='40%'>{ibf.lang.cp_remove_av}</td>
  <td><select name='avatar' class='forminput'><option value='0'>{ibf.lang.no}</option><option value='1'>{ibf.lang.yes}</option></select></td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_edit_website}</td>
  <td><input type='text' size='40' name='website' value='{$profile['website']}' class='forminput'></td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_edit_location}</td>
  <td><input type='text' size='40' name='location' value='{$profile['location']}' class='forminput'></td>
 </tr>
 
 <tr>
  <td width='40%'>{ibf.lang.cp_edit_interests}</td>
  <td><textarea cols='50' rows='3' name='interests' class='forminput'>{$profile['interests']}</textarea></td>
 </tr>
 
  <tr>
  <td width='40%'>{ibf.lang.cp_edit_signature}</td>
  <td><textarea cols='50' rows='5' name='signature' class='forminput'>{$profile['signature']}</textarea></td>
 </tr>
 
 <tr>
  <td colspan='2' align='center'><input type='submit' value='{ibf.lang.cp_find_2_submit}' class='forminput'></td>
 </tr>
 </form>



<!--|IBF|edit_user_form|END|-->

<!--|IBF|find_two|START|-->



 <form name='ibform' action='{ibf.script_url}' method='POST'>
 <input type='hidden' name='s' value='{ibf.session_id}'>
 <input type='hidden' name='act' value='ModCP'>
 <input type='hidden' name='CODE' value='doedituser'>
 <input type='hidden' name='f' value='{$ibforums->input['f']}'>
 <tr>
  <td colspan='2' id='pagetitle'>{ibf.lang.cp_edit_user}</td>
 </tr>
 <tr>
  <td width='40%'>{ibf.lang.cp_find_2_user}</td>
  <td>$select</td>
 </tr>
 <tr>
  <td colspan='2' align='center'><input type='submit' value='{ibf.lang.cp_find_2_submit}' class='forminput'></td>
 </tr>
 </form>



<!--|IBF|find_two|END|-->

<!--|IBF|find_user|START|-->



 <form name='ibform' action='{ibf.script_url}' method='POST'>
 <input type='hidden' name='s' value='{ibf.session_id}'>
 <input type='hidden' name='act' value='ModCP'>
 <input type='hidden' name='CODE' value='dofinduser'>
 <input type='hidden' name='f' value='{$ibforums->input['f']}'>
 <tr>
  <td colspan='2' id='pagetitle'>{ibf.lang.cp_edit_user}</td>
 </tr>
 <tr>
  <td width='40%'>{ibf.lang.cp_find_user}</td>
  <td><input type='text' size='40' name='name' value='' class='forminput'></td>
 </tr>
 <tr>
  <td colspan='2' align='center'><input type='submit' value='{ibf.lang.cp_find_submit}' class='forminput'></td>
 </tr>
 </form>



<!--|IBF|find_user|END|-->

<!--|IBF|splash|START|-->



 <tr>
  <td id='pagetitle'>{ibf.lang.cp_welcome}</td>
 </tr>
 <tr>
  <td>{ibf.lang.cp_welcome_text}</td>
 </tr>
 <tr>
  <td>
    <table cellpadding='2' cellspacing='1' border='0' width='75%' id='fancyborder' align='center'>
	  <tr>
	    <td><b>{ibf.lang.cp_mod_in}</b></td>
	    <td>$forum</td>
	  </tr>
	  <tr>
	    <td><b>{ibf.lang.cp_topics_wait}</b></td>
	    <td>$tcount</td>
	  </tr>
	  <tr>
	    <td><b>{ibf.lang.cp_posts_wait}</b></td>
	    <td>$pcount</td>
	  </tr>
	 </table>
   </td>
  </tr>



<!--|IBF|splash|END|-->

<!--|IBF|mod_exp|START|-->





                <tr>
                <td id='row1' colspan='2'>$words</td>
                </tr>




<!--|IBF|mod_exp|END|-->

<!--|IBF|end_form|START|-->




                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" name="submit" value="$action" class='forminput'>
                </td></tr></table>
                </td></tr></table>
                </form>




<!--|IBF|end_form|END|-->

<!--|IBF|move_form|START|-->




                <tr>
                <td id='row1'>{ibf.lang.move_from} <b>$forum_name</b> {ibf.lang.to}:</td>
                <td id='row1'><select name='move_id' class='forminput'>$jhtml</select></td>
                </tr>
                <tr>
                <td id='row1'><b>{ibf.lang.leave_link}</b></td>
                <td id='row1'>
                  <select name='leave' class='forminput'>
                  <option value='y'  selected>{ibf.lang.yes}</option>
                  <option value='n'>{ibf.lang.no}</option>
                  </select>
                </td>
                </tr>




<!--|IBF|move_form|END|-->

<!--|IBF|delete_js|START|-->



          <script language='JavaScript'>
          <!--
          function ValidateForm() {
             document.REPLIER.submit.disabled = true;
             return true;
          }
          //-->
          </script>
          


<!--|IBF|delete_js|END|-->

<!--|IBF|topictitle_fields|START|-->




                <tr>
                <td id='row1'><b>{ibf.lang.edit_f_title}</b></td>
                <td id='row1'><input type='text' size='40' maxlength='50' name='TopicTitle' value='$title'></td>
                </tr>
                <tr>
                <td id='row1'><b>{ibf.lang.edit_f_desc}</b></td>
                <td id='row1'><input type='text' size='40' maxlength='40' name='TopicDesc' value='$desc'></td>
                </tr>




<!--|IBF|topictitle_fields|END|-->

<!--|IBF|poll_entry|START|-->



				<tr>
				<td id='row1'><b>{ibf.lang.pe_option} $id</b></td>
                <td id='row1'><input type='text' size='60' maxlength='250' name='POLL_$id' value='$entry'></td>
                </tr>
                


<!--|IBF|poll_entry|END|-->

<!--|IBF|poll_select_form|START|-->



				<tr>
				<td id='row1'><b>{ibf.lang.pe_pollonly} $id</b></td>
                <td id='row1'><select name='pollonly' class='forminput'><option value='0'>{ibf.lang.pe_no}</option><option value='1'>{ibf.lang.pe_yes}</option></select></td>
                </tr>
                


<!--|IBF|poll_select_form|END|-->

<!--|IBF|table_top|START|-->



     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='5' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' colspan='2' id='titlemedium'>$posting_title</td>
                </tr>




<!--|IBF|table_top|END|-->

<!--|IBF|forum_jump|START|-->



<br>
<table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
	<tr>
		<td align='right'>{$data}</td>
	</tr>
</table>
<br>


<!--|IBF|forum_jump|END|-->

<!--|IBF|Menu_bar|START|-->



    <br>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
           <td>
              <table cellpadding='2' cellspacing='1' border='0' width='100%'>
              <tr>
               <td width='20%' id='titlemedium'>&nbsp;</td>
			   <td width='80%' id='titlemedium'>&nbsp;</td>
			  </tr>
			   <td id='row1' valign='top'>
			   
			    <!-- Moderate Topics -->
			    
			    <table cellpadding='2' cellspacing='1' border='0' width='100%' id='fancyborder'>
			     <tr>
			       <td id='title'><b>{ibf.lang.cp_mod_topics_title}</b></td>
			     </tr>
			     <tr>
			       <td id='row1'><a href='{$base_url}&act=ModCP&CODE=modtopics&f=$fid'>{ibf.lang.cp_mod_topics}</a></td>
			     </tr>
			       <td id='row1'><a href='{$base_url}&act=ModCP&CODE=modposts&f=$fid'>{ibf.lang.cp_mod_posts}</a></td>
			     </tr>
			    </table>
			    
			    <!-- Manage Topics -->
			    
			    <br>
			    
			    <table cellpadding='2' cellspacing='1' border='0' width='100%'  id='fancyborder'>
			     <tr>
			       <td id='title'><b>{ibf.lang.cp_manage_posts}</b></td>
			     </tr>
			     <tr>
			       <td id='row1'><a href='{$base_url}&act=ModCP&CODE=prune&f=$fid'>{ibf.lang.cp_prune_posts}</a></td>
			     </tr>
			    </table>
			    
			    <!-- Manage Users -->
			    
			    <br>
			    
			    <table cellpadding='2' cellspacing='1' border='0' width='100%'  id='fancyborder'>
			     <tr>
			       <td id='title'><b>{ibf.lang.cp_mod_users_title}</b></td>
			     </tr>
			     <tr>
			       <td id='row1'><a href='{$base_url}&act=ModCP&CODE=edituser&f=$fid'>{ibf.lang.cp_user_edit}</a></td>
			     </tr>
			    </table>
			    
			   </td>
			   <td id='row1' valign='top'>
			   <table cellpadding='4' cellspacing='1' border='0' width='100%'>
			     <!-- Start main CP area -->
			   
			   
			   


<!--|IBF|Menu_bar|END|-->

<!--|IBF|CP_end|START|-->



          <!-- end main CP area -->
         </table>
        </td>
       </tr>
    </table></td></tr></table>





<!--|IBF|CP_end|END|-->

<!--|IBF|mod_error|START|-->



 <tr>
  <td id='pagetitle'>{ibf.lang.cp_error}</td>
 </tr>
 <tr>
  <td>$msg</td>
 </tr>



<!--|IBF|mod_error|END|-->

