<!--|IBF|Member_bar|START|-->


&nbsp;{ibf.lang.logged_in_as} <b>{ibf.member.name}</b> ( <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=UserCP&CODE=00'>{ibf.lang.your_cp}</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Login&CODE=03'>{ibf.lang.log_out}</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Msg&CODE=01'>{$msg[TEXT]}</a> )


<!--|IBF|Member_bar|END|-->

<!--|IBF|BoardHeader|START|-->



<table width='{ibf.skin.tbl_width}' border='0' align='center' cellpadding='0' cellspacing='1' bgcolor='{ibf.skin.tbl_border}'>
  <tr> 
    <td background='{ibf.vars.img_url}/header_tile.gif'><img src='{ibf.vars.img_url}/logo.jpg' alt='Powered by IBForums' border='0'></td>
  </tr>
  <tr> 
    <td id='alt1'>
      <table width='100%' border='0' cellspacing='0' cellpadding='2'>
        <tr>
          <td width='100%'> 
            <% MEMBER BAR %>
          </td>
          <td nowrap valign='middle'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Search&f={$ibforums->input['f']}' style='text-decoration:none'><img src='{ibf.vars.img_url}/icon_search.gif' title='Search' name='search' border='0' align='absmiddle'> Search</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Members' style='text-decoration:none'><img src='{ibf.vars.img_url}/icon_members.gif' title='Members List' name='members' align='absmiddle' border='0'> Member List</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Help' style='text-decoration:none'><img src='{ibf.vars.img_url}/icon_help.gif' title='Help Files' name='help' border='0' align='absmiddle'> Help</a></td>
        </tr>
      </table>
    </td>
  </tr>
</td>
</table>
<br>


<!--|IBF|BoardHeader|END|-->

<!--|IBF|start_nav|START|-->


<table width='{ibf.skin.tbl_width}' align='center' border="0" cellspacing="0" cellpadding="1">
<tr> 
    <td>{ibf.skin.F_NAV}</td>
    <td width="100%" id="nav">


<!--|IBF|start_nav|END|-->

<!--|IBF|end_nav|START|-->


		</td>
  </tr>
</table>


<!--|IBF|end_nav|END|-->

<!--|IBF|Redirect|START|-->


<html>
<head>
<title>{ibf.lang.stand_by}</title>
<meta http-equiv='refresh' content='2; url={ibf.vars.board_url}/index.{ibf.vars.php_ext}$Url'>
<link type='text/css' href='style_sheets/stylesheet_{ibf.skin.css_id}.css' rel='stylesheet'>
</head>

<body id='mainbg'>
<table width='{ibf.skin.tbl_width}' height='85%' align='center'>
<tr>
	<td valign='middle'>
		<table align='center' border="0" cellspacing="1" cellpadding="0" bgcolor="{ibf.skin.tbl_border}">
		<tr> 
			<td id='mainbg'>
				<table width="100%" border="0" cellspacing="1" cellpadding="12">
					<tr> 
						<td width="100%" align="center" id='alt1'>
							{ibf.lang.thanks}, 
							$Text<br><br>
							{ibf.lang.transfer_you}<br><br>
							(<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}$Url'>{ibf.lang.dont_wait}</a>)</td>
					</tr>
				</table>
			</td>
		</tr>
	  </table>
	</td>
</tr>
</table>
</body>
</html>


<!--|IBF|Redirect|END|-->

<!--|IBF|PM_popup|START|-->


     <script language='JavaScript'>
     <!--
       window.open('index.{ibf.vars.php_ext}?act=Msg&CODE=99&s={ibf.session_id}','NewPM','width=500,height=250,resizable=yes,scrollbars=1'); 
     //-->
     </script>


<!--|IBF|PM_popup|END|-->

<!--|IBF|Guest_bar|START|-->


&nbsp;{ibf.lang.guest_stuff} ( <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Login&CODE=00'>{ibf.lang.log_in}</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Reg&CODE=00'>{ibf.lang.register}</a> )


<!--|IBF|Guest_bar|END|-->

<!--|IBF|admin_link|START|-->


( <b><a href='{ibf.vars.board_url}/admin.{ibf.vars.php_ext}' target='_blank'>{ibf.lang.admin_cp}</a></b> )


<!--|IBF|admin_link|END|-->

<!--|IBF|error_log_in|START|-->


<form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}' method='post'>
     <input type='hidden' name='act' value='Login'>
     <input type='hidden' name='CODE' value='01'>
     <input type='hidden' name='s' value='{ibf.session_id}'>
     <input type='hidden' name='referer' value='$q_string'>
     <input type='hidden' name='CookieDate' value='1'>
     <table cellpadding='0' cellspacing='0' border='0' width='80%' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td align='left' colspan='2' id='titlemedium'>{ibf.lang.er_log_in_title}</td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.erl_enter_name}</td>
                <td id='row1'><input type='text' size='20' maxlength='64' name='UserName' class='forminput'></td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.erl_enter_pass}</td>
                <td id='row1'><input type='password' size='20' name='PassWord' class='forminput'></td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type='submit' name='submit' value='{ibf.lang.erl_log_in_submit}' class='forminput'>
                </td>
                </table>
             </td>
         </tr>
     </table>
   </form>


<!--|IBF|error_log_in|END|-->

<!--|IBF|board_offline|START|-->


<table width='{ibf.skin.tbl_width}' border='0' align='center' cellpadding='0' cellspacing='1' bgcolor='{ibf.skin.tbl_border}'>
  <tr> 
    <td background='{ibf.vars.img_url}/tile_back.gif'>
			<table width='100%' border='0' cellspacing='0' cellpadding='3'>
        <tr> 
          <td><img src='{ibf.vars.img_url}/nav_m.gif' alt='' width='8' height='8'></td>
          <td width='100%' id='titlemedium'>{ibf.lang.offline_title}</td>
        </tr>
      </table>
		</td>
  </tr>
  <tr> 
    <td id='mainbg'>
			<table width='100%' border='0' cellspacing='1' cellpadding='4'>
				<tr> 
          <td colspan='2' valign='top' id='post1'> <p>$message</p></td>
        </tr>
        <tr> 
          <td colspan='2' valign='top' id='posthead'>{ibf.lang.offline_login}</td>
        </tr>
        <tr>
					<form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}' method='post'>
					<input type='hidden' name='act' value='Login'>
					<input type='hidden' name='CODE' value='01'>
					<input type='hidden' name='s' value='{ibf.session_id}'>
					<input type='hidden' name='referer' value=''>
					<input type='hidden' name='CookieDate' value='1'>
          <td id='alt1'>{ibf.lang.erl_enter_name}<br><img src='{ibf.vars.img_url}/spacer.gif' alt='' width='180' height='1'></td>
          <td width='100%' id='alt1'><input type='text' size='20' maxlength='64' name='UserName' class='forminput'></td>
        </tr>
        <tr> 
          <td id='alt1'>{ibf.lang.erl_enter_pass}</td>
          <td width='100%' id='alt1'><input type='password' size='20' name='PassWord' class='forminput'></td>
        </tr>
        <tr> 
          <td colspan='2' align='center' id='titlefoot'><input type='submit' name='submit' value='{ibf.lang.erl_log_in_submit}' class='forminput'></td>
					</form>
        </tr>
      </table></td>
  </tr>
</table>


<!--|IBF|board_offline|END|-->

<!--|IBF|Error|START|-->


	<script language='javascript'>
	<!--
	  function contact_admin() {
	  
	  	// Very basic spam bot stopper
	  		
	  	admin_email_one = '$ad_email_one';
	  	admin_email_two = '$ad_email_two';
	  	
	  	window.location = 'mailto:'+admin_email_one+'@'+admin_email_two+'?subject=Error on the forums';
	  	
	  }
	  
	  //-->
	  </script>

<table width='{ibf.skin.tbl_width}' border='0' cellspacing='1' align='center' cellpadding='0' bgcolor='{ibf.skin.tbl_border}'>
  <tr> 
    <td id='maintitleback' background='{ibf.vars.img_url}/tile_back.gif'> 
      <table width='100%' border='0' cellspacing='0' cellpadding='3'>
        <tr> 
          <td><img src='{ibf.vars.img_url}/nav_m.gif' alt='' width='8' height='8'></td>
          <td width='100%' id='maintitle'><b>{ibf.lang.error_title}</b></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td id='mainbg'> 
      <table width='100%' border='0' cellspacing='1' cellpadding='4'>
        <tr> 
          <td id='alt1' valign='top'>
							{ibf.lang.exp_text}<br><br>
						  <b>{ibf.lang.msg_head}</b>
							<br><br>
							<span id='alert'>$message</span>
							<br><br>
							<!-- IBF.LOG_IN_TABLE -->
							<br><br>
							<b>Useful Links:</b>
							<br><br>
			 &#149; <a href='{ibf.script_url}&act=Reg&CODE=10'>{ibf.lang.er_lost_pass}</a><br>
              &#149; <a href='{ibf.script_url}&act=Reg&CODE=00'>{ibf.lang.er_register}</a><br>
              &#149; <a href='{ibf.script_url}&act=Help&CODE=00'>{ibf.lang.er_help_files}</a><br>
              &#149; <a href='javascript:contact_admin();'>{ibf.lang.er_contact_admin}</a></p>
          </td>
        </tr>
        <tr> 
          <td id='titlefoot' align='center'>&lt; <a href='javascript:history.go(-1)'>{ibf.lang.error_back}</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<!--|IBF|Error|END|-->

<!--|IBF|Member_no_usepm_bar|START|-->


&nbsp;{ibf.lang.logged_in_as} <b>{ibf.member.name}</b> ( <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=UserCP&CODE=00'>{ibf.lang.your_cp}</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Login&CODE=03'>{ibf.lang.log_out}</a> )


<!--|IBF|Member_no_usepm_bar|END|-->

