<!--|IBF|ShowLogOutForm|START|-->


     <br>
     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}" method="post">
     <input type='hidden' name='act' value='Login'>
     <input type='hidden' name='CODE' value='03'>
     <input type='hidden' name='s' value='{ibf.session_id}'>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td bgcolor='{ibf.skin.TITLEBACK}' valign='left' colspan='2' id='titlelarge'>{ibf.lang.log_out}</td>
                </tr>
                <tr>
                <td id='row1' colspan='2' valign='middle'><br>{ibf.lang.log_out_txt}<br></td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" value="{ibf.lang.log_out_submit}" class='forminput'>
                </td></tr></table>
                </td></tr></table>
                </form>


<!--|IBF|ShowLogOutForm|END|-->

<!--|IBF|errors|START|-->


     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='5' cellspacing='1' border='0' width='100%'>
                <tr>
                <td id='row1' valign='top' align='left' id='highlight'><b>{ibf.lang.errors_found}</b><hr noshade size='1' color='{ibf.skin.tbl_border}'>$data</td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>


<!--|IBF|errors|END|-->

<!--|IBF|ShowForm|START|-->


    <script language='JavaScript'>
    <!--
    function ValidateForm() {
        var Check = 0;
        if (document.LOGIN.UserName.value == '') { Check = 1; }
        if (document.LOGIN.PassWord.value == '') { Check = 1; }

        if (Check == 1) {
            alert("{ibf.lang.blank_fields}");
            return false;
        } else {
            document.LOGIN.submit.disabled = true;
            return true;
        }
    }
    //-->
    </script>     
     <br>
     <table cellpadding='3' cellspacing='1' border='0' align='center' width='{ibf.skin.tbl_width}'>
     <tr>
     <td align='left'>{ibf.lang.login_text}</td>
     </tr>
     <tr>
     <td align='left'><b>{ibf.lang.forgot_pass} <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?act=Reg&CODE=10'>{ibf.lang.pass_link}</a></b></td>
     </tr>
     </table>
     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='LOGIN' onSubmit='return ValidateForm()'>
     <input type='hidden' name='act' value='Login'>
     <input type='hidden' name='CODE' value='01'>
     <input type='hidden' name='s' value='{ibf.session_id}'>
     <input type='hidden' name='referer' value="">
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td align='left' colspan='2' id='titlemedium'>$message</td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.enter_name}</td>
                <td id='row1'><input type='text' size='20' maxlength='64' name='UserName' class='forminput'></td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.enter_pass}</td>
                <td id='row1'><input type='password' size='20' name='PassWord' class='forminput'></td>
                </tr>
                </table>
             </td>
         </tr>
     </table>
     <br>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td bgcolor='{ibf.skin.MISCBACK_TITLE}' align='left' colspan='2' id='titlemedium'>{ibf.lang.options}</td>
                </tr>
                <tr>
                <td id='row1' width='40%' align='left' valign='top'>{ibf.lang.cookies}</td>
                <td id='row1' width='40%'><input type="radio" name="CookieDate" value="1" checked>{ibf.lang.cookie_yes}<br><input type="radio" name="CookieDate" value="0">{ibf.lang.cookie_no}</td>
                </tr>
                <tr>
                <td id='row1' width='40%' align='left' valign='top'>{ibf.lang.privacy}</td>
                <td id='row1' width='40%'><input type="checkbox" name="Privacy" value="1">{ibf.lang.anon_name}</td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" name='submit' value="{ibf.lang.log_in_submit}" class='forminput'>
                </td></tr></table>
                </td></tr></table>
                </form>


<!--|IBF|ShowForm|END|-->

