<!--|IBF|edit_link|START|-->


[ <a href="{ibf.script_url}&act=Mod&CODE=20&f=$fid&t=$tid">{ibf.lang.ba_edit}</a> ]


<!--|IBF|edit_link|END|-->

<!--|IBF|delete_link|START|-->


[ <a href="{ibf.script_url}&act=Mod&CODE=22&f=$fid&t=$tid">{ibf.lang.ba_delete}</a> ]


<!--|IBF|delete_link|END|-->

<!--|IBF|Render_row_form|START|-->


    <tr>
    <td id='row1' colspan='3'><INPUT type="radio" name="poll_vote" value="$id">&nbsp;<b>$answer</b></td>
    </tr>


<!--|IBF|Render_row_form|END|-->

<!--|IBF|ShowPoll_header|START|-->


    <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}" method="post">
    <input type='hidden' name='act' value='Poll'>
    <input type='hidden' name='s' value='{ibf.session_id}'>
    <input type='hidden' name='t'    value='$tid'>
    <br>
    <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='5' cellspacing='1' border='0' width='100%'>
                <tr>
                <td align='right' colspan='3' id='titlemedium'>$edit &nbsp; $delete</td>
                </tr>
                <tr>
                <td id='row1' valign='middle' align='left' width='50%'><b>{ibf.lang.poll_s_choices}</b></td>
                <td id='row1' valign='middle' align='left' width='10%'><b>{ibf.lang.poll_s_votes}</b></td>
                <td id='row1' valign='middle' align='left' width='40%'><b>{ibf.lang.poll_s_stats}</b></td>


<!--|IBF|ShowPoll_header|END|-->

<!--|IBF|ShowPoll_footer|START|-->


                <tr>
                <td id='row2' align='center' colspan='3'>
                $vote_button
                </td></tr></table>
                </td></tr></table>
                </form>


<!--|IBF|ShowPoll_footer|END|-->

<!--|IBF|Render_row_results|START|-->


    <tr>
    <td id='row1'><b>$answer</b></td>
    <td id='row1'><b>$votes</b></td>
    <td id='row1'><img src='{ibf.vars.img_url}/bar_left.gif' border='0' width='4' height='11' align='middle' alt=''><img src='{ibf.vars.img_url}/bar.gif' border='0' width='$width' height='11' align='middle' alt=''><img src='{ibf.vars.img_url}/bar_right.gif' border='0' width='4' height='11' align='middle' alt=''>&nbsp;[$percentage%]</td>
    </tr>


<!--|IBF|Render_row_results|END|-->

