<!--|IBF|icq_body|START|-->


              <form action="http://msg.mirabilis.com/scripts/WWPMsg.dll" METHOD="POST" name="frmPager">
			      <INPUT TYPE="hidden" NAME="subject" VALUE="From WebPager Panel">
              <input type="hidden" name="to" value="{$data[UIN]}">
              <tr>
                <td id='row2'' align='left'><b>{ibf.lang.name}</b></td>
                <td id='row2'' align='left'><input type='text' name='from' value='{ibf.member.name}' size='40' class='forminput' onMouseOver="this.focus()" onFocus="this.select()"></td>
              </tr>
              <tr>
                <td id='row2'' align='left'><b>{ibf.lang.email}</b></td>
                <td id='row2'' align='left'><input type='text' name='fromemail' value='{ibf.member.email}' size='40' class='forminput' onMouseOver="this.focus()" onFocus="this.select()"></td>
              </tr>
              <tr>
                <td id='row2'' align='left' valign='top'><b>{ibf.lang.msg}</b></td>
                <td id='row2'' align='left'><textarea wrap='virtual' cols='50' rows='12' wrap='soft' name='body' class='textinput' onMouseOver="this.focus()" onFocus="this.select()"></textarea></td>
              </tr>
              <tr>
                <td id='row2'' align='center' colspan='2'><input type='submit' value='{ibf.lang.submit}' class='forminput'></td>
              </tr>
              </form>


<!--|IBF|icq_body|END|-->

<!--|IBF|end_table|START|-->


            <!-- End content Table -->
            </table>
            </td>
            </tr>
            <tr>
            <td id='category' colspan='2'>&nbsp;</td>
            </tr>
            </table>


<!--|IBF|end_table|END|-->

<!--|IBF|pager_header|START|-->


       <table cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
              <table cellpadding='4' cellspacing='0' border='0' width='100%'>
                <tr>
                   <td colspan='2' align='center' id='titlemedium'>{$data[TITLE]}</td>


<!--|IBF|pager_header|END|-->

<!--|IBF|aol_body|START|-->


<!-- Begin AIM Remote -->
<table width='140' align='center'>
<tr align='right'><td><a href="http://www.aol.co.uk/aim/index.html"><img src="http://www.aol.co.uk/aim/remote/gr/aimver_man.gif" width=44 height=55 border=0 alt="Download AIM"></a><img src="http://www.aol.co.uk/aim/remote/gr/aimver_topsm.gif" width=73 height=55 border=0 alt="AIM Remote"><br><a href="aim:goim?screenname={$data['AOLNAME']}&message=Hi.+Are+you+there?"><img src="http://www.aol.co.uk/aim/remote/gr/aimver_im.gif" width=117 height=39 border=0 alt="Send me an Instant Message"></a><br><a href="aim:addbuddy?screenname={$data['AOLNAME']}"><img src="http://www.aol.co.uk/aim/remote/gr/aimver_bud.gif" width=117 height=39 border=0 alt="Add me to Your Buddy List"></a><br><a href="http://www.aol.co.uk/aim/remote.html"><img src="http://www.aol.co.uk/aim/remote/gr/aimver_botadd.gif" width=117 height=23 border=0 alt="Add Remote to Your Page"></a><br><a href="http://www.aol.co.uk/aim/index.html"><img src="http://www.aol.co.uk/aim/remote/gr/aimver_botdow.gif" width=117 height=29 border=0 alt="Download AOL Instant Messenger"></a><br><br></td></tr></table>
<!-- End AIM Remote -->


<!--|IBF|aol_body|END|-->

<!--|IBF|forward_form|START|-->


     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}" method="post" name='REPLIER'>
     <input type='hidden' name='act'  value='Forward'>
     <input type='hidden' name='CODE' value='01'>
     <input type='hidden' name='s'    value='{ibf.session_id}'>
     <input type='hidden' name='st'   value='{$ibforums->input['st']}'>
     <input type='hidden' name='f'    value='{$ibforums->input['f']}'>
     <input type='hidden' name='t'    value='{$ibforums->input['t']}'>
     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
               <table cellpadding='4' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' colspan='2' id='titlemedium'>{ibf.lang.title}</td>
                </tr>
                <tr>
                <td id='row1' align='left'  width='30%' valign='top'><b>{ibf.lang.send_lang}</b></td>
                <td id='row1' width='80%'>$lang</td>
                </tr>
                <tr>
                <td id='row1' align='left'  width='30%' valign='top'><b>{ibf.lang.to_name}</b></td>
                <td id='row1' width='80%'><input type='text' class='forminput' name='to_name' value='' size='30' maxlength='100'></td>
                </tr>
                <tr>
                <td id='row1' align='left'  width='30%' valign='top'><b>{ibf.lang.to_email}</b></td>
                <td id='row1' width='80%'><input type='text' class='forminput' name='to_email' value='' size='30' maxlength='100'></td>
                </tr>
                <tr>
                <td id='row1' align='left'  width='30%' valign='top'><b>{ibf.lang.subject}</b></td>
                <td id='row1' width='80%'><input type='text' class='forminput' name='subject' value='{$title}' size='30' maxlength='120'></td>
                </tr>
                <tr>
                <td id='row1' align='left'  width='30%' valign='top'><b>{ibf.lang.message}</b></td>
                <td id='row1' width='80%'><textarea cols='60' rows='12' wrap='soft' name='message' class='textinput'>{$text}</textarea>
                </td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" value="{ibf.lang.submit_send}" class='forminput'>
                </tr>
               </table>
            </td>
         </tr>
      </table>
      </form>


<!--|IBF|forward_form|END|-->

<!--|IBF|show_address|START|-->


     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='4' cellspacing='0' border='0' width='100%'>
                 <tr>
                   <td id='titlemedium'><b>{ibf.lang.send_email_to} {$data[NAME]}</b></td>
                 </tr>
                <tr>
                   <td id='row1'>{ibf.lang.show_address_text}</td>
                 </tr>
                    <td id='row1'>&gt;&gt;<b><a href="mailto:{$data[ADDRESS]}" class='misc'>{ibf.lang.send_email_to} {$data[NAME]}</a></b></td>
                 </tr>
               </table>
            </td>
         </tr>
      </table>


<!--|IBF|show_address|END|-->

<!--|IBF|send_form|START|-->


     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}" method="post" name='REPLIER'>
     <input type='hidden' name='act' value='Mail'>
     <input type='hidden' name='CODE' value='01'>
     <input type='hidden' name='s' value='{ibf.session_id}'>
     <input type='hidden' name='to' value='{$data[TO]}'>
     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
               <table cellpadding='4' cellspacing='1' border='0' width='100%'>
                <tr>
                <td align='left' colspan='2' id='titlemedium'>{ibf.lang.send_title}</td>
                </tr>
                <tr>
                   <td id='row1' colspan='2' id='usermenu'><b>{ibf.lang.send_email_to} {$data[NAME]}</b></td>
                 </tr>
                <tr>
                <td id='row1' align='left'  width='20%' valign='top'><b>{ibf.lang.subject}</b></td>
                <td id='row1' width='80%'><input type='text' name='subject' value='' size='50' maxlength='50' class='forminput'>
                </td>
                </tr>
                <tr>
                <td id='row1' align='left'  width='20%' valign='top'><b>{ibf.lang.message}</b><br><br>{ibf.lang.msg_txt}</td>
                <td id='row1' width='80%'><textarea cols='60' rows='12' wrap='soft' name='message' class='textinput'></textarea>
                </td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" value="{ibf.lang.submit_send}" class='forminput'>
                </tr>
               </table>
            </td>
         </tr>
      </table>
      </form>


<!--|IBF|send_form|END|-->

<!--|IBF|sent_screen|START|-->


     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
               <table cellpadding='4' cellspacing='0' border='0' width='100%'>
                <tr>
                   <td id='titlemedium'><b>{ibf.lang.email_sent}</b></td>                
                 </tr>
                 </tr>
                 <tr>
                   <td id='row1' valign='middle'><b>{ibf.lang.email_sent_txt} $member_name</td>
                 </tr>
                </table>
            </td>
         </tr>
      </table>


<!--|IBF|sent_screen|END|-->

<!--|IBF|forum_jump|START|-->


      <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' align='center'>
        <tr>
            <td align='right'>$data</td>
        </tr>
       </table>


<!--|IBF|forum_jump|END|-->

