<!--|IBF|mod_cp_link|START|-->


( <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$data'>{ibf.lang.mod_cp}</a> )


<!--|IBF|mod_cp_link|END|-->

<!--|IBF|report_link|START|-->


&nbsp;&nbsp;<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Report&f={$data[FORUM_ID]}&t={$data[TOPIC_ID]}&p={$data[POST_ID]}'>{ibf.lang.snitch_geezer_to_a_copper}</a>


<!--|IBF|report_link|END|-->

<!--|IBF|ip_show|START|-->


{ibf.lang.ip}: $data


<!--|IBF|ip_show|END|-->

<!--|IBF|golastpost_link|START|-->


( <a href='{ibf.script_url}&act=ST&f=$fid&t=$tid&view=getnewpost'>{ibf.lang.go_new_post}</a> )


<!--|IBF|golastpost_link|END|-->

<!--|IBF|Mod_Panel|START|-->


<br>
    <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
      <tr>
      	  <td align='left'>$modcp</td>
          <td align='right'>
          <form method='POST' name='modform' action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}'>
          <input type='hidden' name='s' value='{ibf.session_id}'>
          <input type='hidden' name='t' value='$tid'>
          <input type='hidden' name='f' value='$fid'>
          <input type='hidden' name='st' value='{$ibforums->input['st']}'>
          <input type='hidden' name='act' value='Mod'>
          <select name='CODE' class='forminput'>
          <option value='-1'>{ibf.lang.moderation_ops}</option>
          $data
          </select>&nbsp;<input type='submit' value='{ibf.lang.jmp_go}' class='forminput'>
          </form>
          </td>
        </tr>
    </table>


<!--|IBF|Mod_Panel|END|-->

<!--|IBF|mod_wrapper|START|-->


<option value='$id'>$text</option>


<!--|IBF|mod_wrapper|END|-->

<!--|IBF|TableFooter|START|-->


      </table></td>
  </tr>
  <tr> 
    <td id='mainbg'>
			<table width='100%' border='0' cellspacing='1' cellpadding='4'>
        <tr>
          <td id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif' width='100%'>
			<table width='100%' border='0' cellspacing='0' cellpadding='0'>
              <tr>
                <td align='left'><b>{ibf.lang.topic_stats}</b></td>
              	<td align='right'><b><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Track&f={$data['FORUM']['id']}&t={$data['TOPIC']['tid']}'>{ibf.lang.track_topic}</a> |
									<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Forward&f={$data['FORUM']['id']}&t={$data['TOPIC']['tid']}'>{ibf.lang.forward}</a> |
									<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Print&f={$data['FORUM']['id']}&t={$data['TOPIC']['tid']}'>{ibf.lang.print}</a></b></td>
               </tr>
            </table>
		  </td>
        </tr>
      </table>
		</td>
  </tr>
</table>
<table width='{ibf.skin.tbl_width}' align='center' border='0' cellspacing='0' cellpadding='4'>
  <tr> 
    <td width='100%'>{$data[TOPIC][SHOW_PAGES]}<br><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=SF&f={$data['FORUM']['id']}'>Back to {$data['FORUM']['name']}</a></td>
    <td align='right' nowrap>{$data[TOPIC][REPLY_BUTTON]}<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Post&CODE=00&f={$data[FORUM]['id']}' title='{ibf.lang.start_new_topic}'>{ibf.skin.A_POST}</a>{$data[TOPIC][POLL_BUTTON]}</td>
  </tr>
</table>
<br>
<table width='{ibf.skin.tbl_width}' align='center' border='0' cellspacing='0' cellpadding='3'>
  <tr> 
    <td width='100%' align='right'>{$data[FORUM]['JUMP']}</td>
  </tr>
</table>
<br>


<!--|IBF|TableFooter|END|-->

<!--|IBF|RenderRow|START|-->


		<!--Begin Msg Number {$data[POST]['pid']}-->
		 <tr>
		 <td valign='middle' id='posthead'><a name='entry{$data[POST]['pid']}'></a><span id='{$data[POST]['name_css']}'>{$data[POSTER]['name']}</span></td>
          <td id='posthead' valign='top'>
			<table width='100%' border='0' cellspacing='0' cellpadding='0'>
              <tr> 
                <td id='posthead'>{$data[POST]['post_icon']}<b>{ibf.lang.posted_on}</b> {$data[POST]['post_date']}</td>
                <td id='posthead' align='right'>{$data[POST]['delete_button']}{$data[POST]['edit_button']}<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Post&CODE=06&f={$ibforums->input[f]}&t={$ibforums->input[t]}&p={$data[POST]['pid']}'>{ibf.skin.P_QUOTE}</a></td>
              </tr>
            </table>
		 </td>
        </tr>
		<tr>
          <td valign='top' id='post1'>
            	{$data[POSTER]['avatar']}<br><br>
				{$data[POSTER]['title']}<br>
				{$data[POSTER]['member_rank_img']}<br><br>
            	{$data[POSTER]['member_group']}<br>
            	{$data[POSTER]['member_posts']}<br>
            	{$data[POSTER]['member_number']}<br>
            	{$data[POSTER]['member_joined']}<br>
            	{$data[POSTER][WARN_GFX]}<br><br>
		        <img src='{ibf.vars.img_url}/spacer.gif' alt='' width='160' height='1'><br> 
          </td>
          <td width='100%' valign='top' id='post1'><span id='postcolor'>{$data[POST]['post']} {$data[POST]['attachment']} {$data[POST]['signature']}</td>
        </tr>
        <tr>
		   <td id='postfoot' align='left'>&nbsp;</td>
		   <td id='postfoot' nowrap align='left'>
		    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
              <tr>
                <td id='postfoot' align='left' valign='middle' nowrap>{$data[POSTER]['message_icon']}{$data[POSTER]['email_icon']}{$data[POSTER]['website_icon']}{$data[POSTER]['icq_icon']}{$data[POSTER]['aol_icon']}{$data[POSTER]['yahoo_icon']}{$data[POSTER]['msn_icon']}</td>
                <td id='postfoot' valign='middle' align='right'>{$data[POST]['ip_address']}{$data[POST]['report_link']}</td>
		   		<td id='postfoot' valign='middle' align='right' width='2%'><a href='javascript:scroll(0,0);'><img src='{ibf.vars.img_url}/p_up.gif' alt='Top' border='0'></a></td>
		      </tr>
		    </table>
		   </td>
        </tr>
        <tr> 
          <td id='postsep' colspan='2'><img src='{ibf.vars.img_url}/spacer.gif' alt='' width='1' height='1'></td>
		</tr>
  <!-- end Message -->


<!--|IBF|RenderRow|END|-->

<!--|IBF|PageTop|START|-->


    <script language='javascript'>
    <!--
    function delete_post(theURL) {
       if (confirm('{ibf.lang.js_del_1}')) {
          window.location.href=theURL;
       }
       else {
          alert ('{ibf.lang.js_del_2}');
       } 
    }
    
    function PopUp(url, name, width,height,center,resize,scroll,posleft,postop) {
    if (posleft != 0) { x = posleft }
    if (postop  != 0) { y = postop  }

    if (!scroll) { scroll = 1 }
    if (!resize) { resize = 1 }

    if ((parseInt (navigator.appVersion) >= 4 ) && (center)) {
      X = (screen.width  - width ) / 2;
      Y = (screen.height - height) / 2;
    }
    if (scroll != 0) { scroll = 1 }

    var Win = window.open( url, name, 'width='+width+',height='+height+',top='+Y+',left='+X+',resizable='+resize+',scrollbars='+scroll+',location=no,directories=no,status=no,menubar=no,toolbar=no');
	}
    //-->
    </script>
<a name='top'></a>
<!-- Cgi-bot Start Forum page unique top -->
<table width='{ibf.skin.tbl_width}' border='0' cellspacing='0' cellpadding='4' align='center'>
  <tr> 
    <td width='100%'>{$data['TOPIC']['SHOW_PAGES']}&nbsp;{$data['TOPIC']['go_new']}</td>
    <td align='right' nowrap>{$data[TOPIC][REPLY_BUTTON]}<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Post&CODE=00&f={$data[FORUM]['id']}' title='{ibf.lang.start_new_topic}'>{ibf.skin.A_POST}</a>{$data[TOPIC][POLL_BUTTON]}</td>
  </tr>
</table>
<table width='{ibf.skin.tbl_width}' border='0' cellspacing='1' cellpadding='0' bgcolor='{ibf.skin.tbl_border}' align='center'>
  <tr> 
    <td background='{ibf.vars.img_url}/tile_back.gif' id='maintitleback'>
			<table width='100%' border='0' cellspacing='0' cellpadding='3'>
        <tr> 
          <td><img src='{ibf.vars.img_url}/nav_m.gif' alt='' width='8' height='8'></td>
          <td width='100%' id='maintitle'><b>{$data['TOPIC']['title']}</b>{$data['TOPIC']['description']}</td>
        </tr>
      </table>
		</td>
  </tr>
  <tr> 
	<td id='mainbg'>
	<table width='100%' border='0' cellspacing='1' cellpadding='4'>
	<tr> 
	  <td width='100%' id='titlemedium' nowrap background='{ibf.vars.img_url}/tile_sub.gif' colspan="2"> 
		<table width='100%' border='0' cellspacing='0' cellpadding='0'>
		  <tr>
		    <td align='left'><b>&laquo; <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ST&f={$data[FORUM]['id']}&t={$data[TOPIC]['tid']}&view=old'>{ibf.lang.t_old}</a> | <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ST&f={$data[FORUM]['id']}&t={$data[TOPIC]['tid']}&view=new'>{ibf.lang.t_new}</a> &raquo;</b></td>
			<td align='right'><b>
				<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Track&f={$data['FORUM']['id']}&t={$data['TOPIC']['tid']}'>{ibf.lang.track_topic}</a> |
				<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Forward&f={$data['FORUM']['id']}&t={$data['TOPIC']['tid']}'>{ibf.lang.forward}</a> |
				<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Print&f={$data['FORUM']['id']}&t={$data['TOPIC']['tid']}'>{ibf.lang.print}</a></b></td>
			</tr>
		</table>
	  </td>
	</tr>

<!-- Cgi-bot End Forum page unique top -->


<!--|IBF|PageTop|END|-->

<!--|IBF|Show_attachments_img|START|-->


<br><br><center><b>{ibf.lang.pic_attach}</b></center><br>
<table cellpadding='4' cellspacing='0' border='0' width='50%' align='center' id='fancyborder'>
 <tr>
  <td valign='middle' align='center'><img src='{ibf.vars.upload_url}/{$data['file_name']}' border='0' alt='{ibf.lang.pic_attach}'></td>
 </tr>
</table>
<p>


<!--|IBF|Show_attachments_img|END|-->

<!--|IBF|Show_attachments|START|-->


    <br><br>
     <table cellpadding='4' cellspacing='0' border='0' width='50%' align='center' id='fancyborder'>
      <tr>
       <td align='right' valign='middle' rowspan='2'><img src='{ibf.vars.mime_img}/{$data['image']}' border='0' alt='User Attached Image'></td>
        <td align='left'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Attach&type=post&id={$data['pid']}' target='_blank'>{ibf.lang.attach_dl}</a></td>
      </tr>
      <tr>
      <td align='left' valign='middle' width='98%'>{$data['name']}  ( {ibf.lang.attach_hits}: {$data['hits']} )</td>
      </tr>
     </table>
     <br><br>


<!--|IBF|Show_attachments|END|-->

