<!--|IBF|lost_pass_form|START|-->


     <br>
     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post">
     <input type='hidden' name='act' value='Reg'>
     <input type='hidden' name='CODE' value='11'>
     <table cellpadding='0' cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
     <tr>
        <td valign='middle' align='left'><b>{ibf.lang.lp_header}</b><br><br>{ibf.lang.lp_text}</td>
     </tr>
     </table>
     <br>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' colspan='2' id='titlemedium'>{ibf.lang.complete_form}</td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.lp_user_name}</td>
                <td id='row1'><input type='text' size='32' maxlength='32' name='member_name' class='forminput'></td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" value="{ibf.lang.lp_send}" class='forminput'>
                </td></tr></table>
                </td></tr></table>
                </form>


<!--|IBF|lost_pass_form|END|-->

<!--|IBF|show_authorise|START|-->


     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' id='titlemedium'>{ibf.lang.registration_process}</td>
                </tr>
                <tr>
                <td id='row1'>{ibf.lang.thank_you} {$member['name']}. {ibf.lang.auth_text}  {$member['email']}</td>
                </tr>
                </table>
            </td>
        </tr>
    </table>


<!--|IBF|show_authorise|END|-->

<!--|IBF|show_preview|START|-->


     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' id='titlemedium'>{ibf.lang.registration_process}</td>
                </tr>
                <tr>
                <td id='row1'>{ibf.lang.thank_you} {$member['name']}. {ibf.lang.preview_reg_text}</td>
                </tr>
                </table>
            </td>
        </tr>
    </table>


<!--|IBF|show_preview|END|-->

<!--|IBF|show_dumb_form|START|-->


    <script language='javascript'>
    <!--
    function Validate() {
        // Check for Empty fields
        if (document.REG.uid.value == "" || document.REG.aid.value == "") {
            alert ("{ibf.lang.js_blanks}");
            return false;
        }

    }
    //-->
    </script>
     <br>
     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='REG' onSubmit='return Validate()'>
     <input type='hidden' name='act' value='Reg'>
     <input type='hidden' name='CODE' value='03'>
     <input type='hidden' name='type' value='$type'>
     <table cellpadding='0' cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
     <tr>
        <td valign='middle' align='left'><b>{ibf.lang.dumb_header}</b><br><br>{ibf.lang.dumb_text}</td>
     </tr>
     </table>
     <br>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' colspan='2' id='titlemedium'>{ibf.lang.complete_form}</td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.user_id}</td>
                <td id='row1'><input type='text' size='32' maxlength='32' name='uid' class='forminput'></td>
                </tr>
                <tr>
                <td id='row2' width='40%'>{ibf.lang.val_key}</td>
                <td id='row2'><input type='text' size='32' maxlength='50' name='aid' class='forminput'></td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'>
                <input type="submit" value="{ibf.lang.dumb_submit}" class='forminput'>
                </td></tr></table>
                </td></tr></table>
                </form>


<!--|IBF|show_dumb_form|END|-->

<!--|IBF|ShowForm|START|-->


    <script language='javascript'>
    <!--
    function Validate() {
        // Check for Empty fields
        if (document.REG.UserName.value == "" || document.REG.PassWord.value == "" || document.REG.PassWord_Check.value == "" || document.REG.EmailAddress.value == "") {
            alert ("{ibf.lang.js_blanks}");
            return false;
        }

        // Have we checked the checkbox?

        if (document.REG.agree.checked == true) {
            return true;
        } else {
            alert ("{ibf.lang.js_no_check}");
            return false;
        }
    }
    //-->
    </script>
     <br>
     <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='REG' onSubmit='return Validate()'>
     <input type='hidden' name='act' value='Reg'>
     <input type='hidden' name='CODE' value='02'>
     <table cellpadding='0' cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
     <tr>
        <td valign='middle' align='left'>{ibf.lang.reg_header}</b><br><br>{$data['TEXT']}</td>
     </tr>
     </table>
     <br>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' colspan='2' id='titlemedium'>{ibf.lang.complete_form}</td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.user_name}</td>
                <td id='row1'><input type='text' size='32' maxlength='64' name='UserName' class='forminput'></td>
                </tr>
                <tr>
                <td id='row2' width='40%'>{ibf.lang.pass_word}</td>
                <td id='row2'><input type='password' size='32' maxlength='32' name='PassWord' class='forminput'></td>
                </tr>
                <tr>
                <td id='row2' width='40%'>{ibf.lang.re_enter_pass}</td>
                <td id='row2'><input type='password' size='32' maxlength='32' name='PassWord_Check' class='forminput'></td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.email_address}</td>
                <td id='row1'><input type='text' size='32' maxlength='50' name='EmailAddress' class='forminput'></td>
                </tr>
                <tr>
                <td id='row1' width='40%'>{ibf.lang.email_address_two}</td>
                <td id='row1'><input type='text' size='32' maxlength='50' name='EmailAddress_two' class='forminput'></td>
                </tr>
                </table>
            </td>
        </tr>
     </table>
     <br>
     <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td  valign='left' id='titlemedium'>{ibf.lang.terms_service}</td>
                </tr>
                <tr>
                <td id='row1' align='center'>{ibf.lang.terms_service_text}<br>
                    <textarea cols='75' rows='9' wrap='soft' name='Post' class='textinput' style='font-size:10px'>{$data[RULES]}</textarea>
                    <br><br><b>{ibf.lang.agree_submit}</b>&nbsp;<input type='checkbox' name='agree' value='1'>
                </td>
                </tr>
                <tr>
                <td id='row2' align='center'>
                <input type="submit" value="{ibf.lang.submit_form}" class='forminput'>
                </td></tr></table>
                </td></tr></table>
                </form>


<!--|IBF|ShowForm|END|-->

