<!--|IBF|page_title|START|-->


    <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
      <tr>
         <td valign='middle' align='left'><span id='pagetitle'>{$title}</td>
      </tr>
     </table>


<!--|IBF|page_title|END|-->

<!--|IBF|group_strip|START|-->


<table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
              <table cellpadding='5' cellspacing='1' border='0' width='100%'>
                <tr>
                   <td colspan='4' id='titlemedium' align='center' background='{ibf.vars.img_url}/tile_sub.gif'>$group</td>
                </tr>
                <tr>
                   <td width='30%' align='left' id='category'   valign='middle'>{ibf.lang.leader_name}</td>
                   <td width='40%' align='center' id='category' valign='middle'>{ibf.lang.leader_forums}</td>
                   <td align='center' width='25%' id='category' valign='middle'>{ibf.lang.leader_location}</td>
                   <td align='center' width='5%' id='category' valign='middle'>&nbsp;</td>
                </tr>


<!--|IBF|group_strip|END|-->

<!--|IBF|leader_row|START|-->


                <tr>
                   <td align='left' id='row1' valign='middle'><a href='{ibf.script_url}&act=Profile&MID={$info['id']}'>{$info['name']}</a></td>
                   <td align='center' id='row1' valign='middle'>$forums</td>
                   <td align='center' id='row1' valign='middle'>{$info['location']}</td>
                   <td align='center' id='row2' valign='middle'>{$info['msg_icon']}</td>
                </tr>


<!--|IBF|leader_row|END|-->

<!--|IBF|close_strip|START|-->


				</table>
			  </td>
			 </tr>
			</table>
		    <br>


<!--|IBF|close_strip|END|-->

<!--|IBF|top_poster_header|START|-->


<table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
              <table cellpadding='5' cellspacing='1' border='0' width='100%'>
                <tr>
                   <td width='30%' align='left' background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium' valign='middle'>{ibf.lang.member}</td>
                   <td width='20%' align='center' background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium' valign='middle'>{ibf.lang.member_joined}</td>
                   <td align='center' width='15%' background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium' valign='middle'>{ibf.lang.member_posts}</td>
                   <td align='center' width='15%' background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium' valign='middle'>{ibf.lang.member_today}</td>
                   <td align='center' width='20%' background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium' valign='middle'>{ibf.lang.member_percent}</td>
                </tr>


<!--|IBF|top_poster_header|END|-->

<!--|IBF|top_poster_row|START|-->


                <tr>
                   <td align='left' id='row1' valign='middle'><a href='{ibf.script_url}&act=Profile&MID={$info['id']}'>{$info['name']}</a></td>
                   <td align='center' id='row1' valign='middle'>{$info['joined']}</td>
                   <td align='center' id='row1' valign='middle'>{$info['posts']}</td>
                   <td align='center' id='row2' valign='middle'>{$info['tpost']}</td>
                   <td align='center' id='row2' valign='middle'>{$info['today_pct']}%</td>
                </tr>


<!--|IBF|top_poster_row|END|-->

<!--|IBF|top_poster_footer|START|-->


                <tr>
                   <td colspan='5' align='center' id='titlemedium' valign='middle'>{ibf.lang.total_today} $info</td>
                </tr>
              </table>
            </td>
           </tr>
         </table>


<!--|IBF|top_poster_footer|END|-->

<!--|IBF|top_poster_no_info|START|-->


                <tr>
                   <td colspan='5' align='center' id='row1' valign='middle'>{ibf.lang.no_info}</td>
                </tr>


<!--|IBF|top_poster_no_info|END|-->

