<!--|IBF|emoticon_javascript|START|-->


<script language='javascript'>
<!--
	function add_smilie(code)
	{
		opener.document.REPLIER.Post.value += ' ' + code + ' ';
		//return true;
	}
//-->
</script>


<!--|IBF|emoticon_javascript|END|-->

<!--|IBF|page_header|START|-->



<table cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
              <table cellpadding='5' cellspacing='1' border='0' width='100%'>
                <tr>
                   <td colspan='4' id='titlemedium' align='center'>$title</td>
                </tr>
                <tr>
                   <td width='50%' align='center'   id='category'   valign='middle'>$row1</td>
                   <td width='50%' align='center'   id='category'    valign='middle'>$row2</td>
                </tr>




<!--|IBF|page_header|END|-->

<!--|IBF|emoticons_row|START|-->



                <tr>
                   <td align='center' id='row1' valign='middle'><a href='javascript:add_smilie("$code")'>$code</a></td>
                   <td align='center' id='row2' valign='middle'><a href='javascript:add_smilie("$code")'><img src='{ibf.vars.EMOTICONS_URL}/$image' border='0' valign='absmiddle' alt='$image'></a></td>
                </tr>




<!--|IBF|emoticons_row|END|-->

<!--|IBF|page_footer|START|-->



				</table>
			  </td>
			 </tr>
			</table>



<!--|IBF|page_footer|END|-->

