<!--|IBF|Page_header|START|-->


<script language='Javascript' type='text/javascript'>
		<!--
		function PopUp(url, name, width,height,center,resize,scroll,posleft,postop) {
			if (posleft != 0) { x = posleft }
			if (postop  != 0) { y = postop  }
		
			if (!scroll) { scroll = 1 }
			if (!resize) { resize = 1 }
		
			if ((parseInt (navigator.appVersion) >= 4 ) && (center)) {
			  X = (screen.width  - width ) / 2;
			  Y = (screen.height - height) / 2;
			}
			if (scroll != 0) { scroll = 1 }
		
			var Win = window.open( url, name, 'width='+width+',height='+height+',top='+Y+',left='+X+',resizable='+resize+',scrollbars='+scroll+',location=no,directories=no,status=no,menubar=no,toolbar=no');
	     }
		//-->
	</script>

<table width="{ibf.skin.tbl_width}" border="0" align='center' cellspacing="0" cellpadding="4">
  <tr> 
    <td width="100%" height='38'>{$links[SHOW_PAGES]}</td>
  </tr>
</table>
<table width="{ibf.skin.tbl_width}" border="0" align='center' cellspacing="1" cellpadding="0" bgcolor="{ibf.skin.tbl_border}">
  <tr> 
    <td id='maintitleback' background='{ibf.vars.img_url}/tile_back.gif'> 
      &nbsp;
    </td>
  </tr>
  <tr> 
    <td id='mainbg'> 
      <table width="100%" border="0" cellspacing="1" cellpadding="4">
				<tr> 
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' width="30%">{ibf.lang.member_name}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center" width="20%">{ibf.lang.member_level}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center" width="20%">{ibf.lang.member_group}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center" width="20%">{ibf.lang.member_joined}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center" width="10%">{ibf.lang.member_posts}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center">{ibf.lang.member_email}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center">{ibf.lang.member_aol}</td>
          <td nowrap background="{ibf.vars.img_url}/tile_sub.gif" id='titlemedium' align="center">{ibf.lang.member_icq}</td>
        </tr>


<!--|IBF|Page_header|END|-->

<!--|IBF|end|START|-->


<table width="{ibf.skin.tbl_width}" border="0" align='center' cellspacing="0" cellpadding="4">
  <tr> 
    <td width="100%" height='38'>{$links[SHOW_PAGES]}</td>
  </tr>
</table>


<!--|IBF|end|END|-->

<!--|IBF|no_results|START|-->


No results


<!--|IBF|no_results|END|-->

<!--|IBF|start|START|-->


<!-- nothing here -->


<!--|IBF|start|END|-->

<!--|IBF|Page_end|START|-->


            <!-- End content Table -->
        
		<form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id};act=Members' method='POST'>
        <input type='hidden' name='act' value='Members'>
        <input type='hidden' name='s'   value='{ibf.session_id}'>
        <tr> 
          <td id='subtitle' colspan="9" align='center'>{ibf.lang.sorting_text}&nbsp;<input type='submit' value='{ibf.lang.sort_submit}' class='forminput'></td>
        </tr>
	</form>
        
      </table>
    </td>
  </tr>
</table>


<!--|IBF|Page_end|END|-->

<!--|IBF|show_row|START|-->


              <!-- Entry for {$member[MEMBER_NAME]} -->
							<tr> 
								<td id='forum2' width="30%"><b><a href="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Profile&CODE=03&MID={$member[MEMBER_ID]}">{$member[MEMBER_NAME]}</a></b></td>
								<td id='forum2' nowrap width="20%">{$member[MEMBER_PIPS_IMG]}</td>
								<td id='forum1' align="center" width="20%">{$member[MEMBER_GROUP]}</td>
								<td id='forum2' nowrap align="center" width="20%">{$member[MEMBER_JOINED]}</td>
								<td id='forum2' align="center" width="10%">{$member[MEMBER_POSTS]}</td>
								<td id='forum1' align="center">{$member[MEMBER_EMAIL]}</td>
								<td id='forum1' align="center">{$member[AOLNAME]}</td>
								<td id='forum1' align="center">{$member[ICQNUMBER]}</td>
							</tr>
              <!-- End of Entry -->


<!--|IBF|show_row|END|-->

