<!--|IBF|end|START|-->


          <br>
          <table cellpadding='0' cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
            <tr>
              <td valign='middle' align='left'>{$links[SHOW_PAGES]}</td>
            </tr>
          </table>


<!--|IBF|end|END|-->

<!--|IBF|show_row|START|-->


              <!-- Entry for {$session['member_id']} -->
              <tr>
                <td id='row1'>{$session['member_name']}</td>
                <td id='row1'>{$session['where_line']}</td>
                <td id='row1' align='center'>{$session['running_time']}</td>
                <td id='row1' align='center'>{$session['msg_icon']}</td>
              </tr>
              <!-- End of Entry -->


<!--|IBF|show_row|END|-->

<!--|IBF|Page_end|START|-->


            <!-- End content Table -->
            <tr>
            <td colspan='4' id='category'>&nbsp;</td>
            </tr>
            </table>
            </td>
            </tr>
            </table>
            <br>
            <table cellpadding='0' cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
            <tr>
              <td valign='middle' align='left'>$links</td>
            </tr>
          </table>


<!--|IBF|Page_end|END|-->

<!--|IBF|Page_header|START|-->


<script language='Javascript' type='text/javascript'>
		<!--
		function PopUp(url, name, width,height,center,resize,scroll,posleft,postop) {
			if (posleft != 0) { x = posleft }
			if (postop  != 0) { y = postop  }
		
			if (!scroll) { scroll = 1 }
			if (!resize) { resize = 1 }
		
			if ((parseInt (navigator.appVersion) >= 4 ) && (center)) {
			  X = (screen.width  - width ) / 2;
			  Y = (screen.height - height) / 2;
			}
			if (scroll != 0) { scroll = 1 }
		
			var Win = window.open( url, name, 'width='+width+',height='+height+',top='+Y+',left='+X+',resizable='+resize+',scrollbars='+scroll+',location=no,directories=no,status=no,menubar=no,toolbar=no');
	     }
		//-->
	</script>


          <table cellpadding='0' cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
            <tr>
              <td valign='middle' align='left'>$links</td>
            </tr>
          </table>
          <br>
       <table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
              <table cellpadding='4' cellspacing='1' border='0' width='100%'>
                <tr>
                   <td align='left' width='30%' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.member_name}</td>
                   <td align='left' width='30%' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.where}</td>
                   <td align='center' width='20%' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.time}</td>
                   <td align='left' width='10%' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>&nbsp;</td>
                </tr>


<!--|IBF|Page_header|END|-->

