<!--|IBF|Forum_log_in|START|-->


     <form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id};act=SF&f=$Data' method='post'>
     <input type='hidden' name='act' value='SF'>
     <input type='hidden' name='f' value='$Data'>
     <input type='hidden' name='L' value='1'>
     <input type='hidden' name='s' value='{ibf.session_id}'>
     <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='4' cellspacing='0' border='0' width='100%'>
                <tr>
                <td align='left' colspan='2' id='titlemedium'>{ibf.lang.need_password}</td>
                </tr>
                <tr>
                <td id='row1' colspan='2'>{ibf.lang.need_password_txt}</td>
                </tr>
                <tr>
                <td id='row1' width='40%'><b>{ibf.lang.enter_pass}</b></td>
                <td id='row1'><input type='password' size='20' name='f_password'></td>
                </tr>
                <tr>
                <td id='row2' align='center' colspan='2'><input type='submit' value='{ibf.lang.f_pass_submit}' class='forminput'></td>
                </tr>
                </table>
            </td>
       </tr>
    </table>
    </form>


<!--|IBF|Forum_log_in|END|-->

<!--|IBF|Mod_Panel|START|-->


    <br>
    <table cellpadding='3' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' align='center'>
        <tr>
          <td align='center'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ModCP&f=$data'>{ibf.lang.mod_cp}</a></td>
        </tr>
    </table>


<!--|IBF|Mod_Panel|END|-->

<!--|IBF|show_rules_full|START|-->


    <!-- Show FAQ/Forum Rules -->
		<br>
    <table cellpadding='4' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
        <tr>
          <td align='left' ><b>{$rules['title']}</b><br><br>{$rules['body']}</td>
      </tr>
   </table>
	 <br>
   <!-- End FAQ/Forum Rules -->


<!--|IBF|show_rules_full|END|-->

<!--|IBF|show_rules_link|START|-->


		<!-- Show FAQ/Forum Rules -->
		<br>
    <table cellpadding='4' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
        <tr>
          <td align='left' valign='middle'><b>&gt;&gt;<a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=SR&f={$rules['fid']}'>{$rules['title']}</a></b></td>
      </tr>
   </table>
	 <br>
   <!-- End FAQ/Forum Rules -->


<!--|IBF|show_rules_link|END|-->

<!--|IBF|TableEnd|START|-->


      </table>
    </td>
  </tr>
  <tr>
    <td id='mainbg'>
	  <table width='100%' border='0' cellspacing='1' cellpadding='4'>
        <tr> 
          <td id='titlefoot' width='100%' align='center'>
		    <table border='0' cellspacing='0' cellpadding='0'>
              <tr> 
                <td>{ibf.lang.showing_text}{ibf.lang.sort_text}</td>
                <td>&nbsp;<input type='submit' value='{ibf.lang.sort_submit}' class='forminput'></td>
              </tr>
            </table>
		 </td>
        </tr>
      </table>
	</td>
  </form>
  </tr>
</table>
<table width='{ibf.skin.tbl_width}' border='0' cellspacing='0' cellpadding='4' align='center'>
  <tr> 
    <td width='100%'>{$Data[SHOW_PAGES]}</td>
    <td align='right' nowrap><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Post&CODE=00&f={$Data['id']}'>{ibf.skin.A_POST}</a>{$Data[POLL_BUTTON]}</td>
  </tr>
</table>
<table width='{ibf.skin.tbl_width}' border='0' cellspacing='0' cellpadding='3' align='center'>
  <tr> 
    <td>{ibf.skin.B_NEW}</td>
    <td nowrap>{ibf.lang.pm_open_new}&nbsp;</td>
    <td>{ibf.skin.B_POLL}</td>
    <td nowrap>{ibf.lang.pm_poll}&nbsp;</td>
    <td width='100%' rowspan='4' align='right'> 
      <table border='0' cellspacing='0' cellpadding='0'>
        <tr>
		  <form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}' name='search'>
		  <input type='hidden' name='s' value='{ibf.session_id}'>
		  <input type='hidden' name='forums' value='{$Data['id']}'>
		  <input type='hidden' name='cat_forum' value='forum'>
		  <input type='hidden' name='act' value='Search'>
		  <input type='hidden' name='CODE' value='01'>
		  <td>{ibf.lang.search_forum}&nbsp;</td>
          <td nowrap><input type='text' size='30' name='keywords' class='forminput' value='{ibf.lang.enter_keywords}' onFocus='this.value = "";'> <input type='submit' value='{ibf.lang.search_go}' class='forminput'></td>
		  </form>
        </tr>
      </table>
      <br>
      {$Data[FORUM_JUMP]}
    </td>
  </tr>
  <tr> 
    <td>{ibf.skin.B_NORM}</td>
    <td nowrap>{ibf.lang.pm_open_no}&nbsp;</td>
    <td>{ibf.skin.B_POLL_NN}</td>
    <td nowrap>{ibf.lang.pm_poll_no}&nbsp;</td>
  </tr>
  <tr> 
    <td>{ibf.skin.B_HOT}</td>
    <td nowrap>{ibf.lang.pm_hot_new}&nbsp;</td>
    <td>{ibf.skin.B_LOCKED}</td>
    <td nowrap>{ibf.lang.pm_locked}&nbsp;</td>
  </tr>
  <tr> 
    <td>{ibf.skin.B_HOT_NN}</td>
    <td nowrap>{ibf.lang.pm_hot_no}&nbsp;</td>
    <td>{ibf.skin.B_MOVED}</td>
    <td nowrap>{ibf.lang.pm_moved}&nbsp;</td>
  </tr>
</table>


<!--|IBF|TableEnd|END|-->

<!--|IBF|show_rules|START|-->


   <!-- Show Forum FAQ/Rules -->
     <br>
     <table cellpadding='4' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='3' cellspacing='1' border='0' width='100%'>
                <tr>
                <td valign='left' id='titlemedium'>{$rules['title']}</td>
                </tr>
                <tr>
                <td id='row1'>{$rules['body']}</td>
               </tr>
               <tr>
                <td id='titlemedium' align='center'>&gt;&gt;<a href='{ibf.script_url}&act=SF&f={$rules['fid']}'>{ibf.lang.back_to_forum}</td>
               </tr>
               </table>
            </td>
      </tr>
   </table>
	 <br>
   <!-- End Forum FAQ/Rules -->


<!--|IBF|show_rules|END|-->

<!--|IBF|page_title|START|-->


	<table cellpadding='0' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
	<tr>
	 <td><span id='pagetitle'>$title</span>$pages</td>
	</tr>
	</table>


<!--|IBF|page_title|END|-->

<!--|IBF|PageTop|START|-->


<!-- Forum page unique top -->
<table width='{ibf.skin.tbl_width}' border='0' cellspacing='0' cellpadding='4' align='center'>
  <tr> 
    <td width='100%'>{$info['SHOW_PAGES']}</td>
    <td align='right' nowrap><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Post&CODE=00&f={$info['id']}'>{ibf.skin.A_POST}</a>{$info[POLL_BUTTON]}</td>
  </tr>
</table>
<table width='{ibf.skin.tbl_width}' align='center' border='0' cellspacing='1' cellpadding='0' bgcolor='{ibf.skin.tbl_border}'>
  <tr> 
    <form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}' method='POST'>
		<td background='{ibf.vars.img_url}/tile_back.gif' id='maintitleback'>
			<table width='100%' border='0' cellspacing='0' cellpadding='3'>
        <tr> 
          <td><img src='{ibf.vars.img_url}/nav_m.gif' alt='' width='8' height='8'></td>
          <td width='100%' id='maintitle'>{$info['name']}</td>
        </tr>
      </table>
		</td>
  </tr>
  <tr> 
    <td id='mainbg'>
			<table width='100%' border='0' cellspacing='1' cellpadding='4'>
        <tr> 
          <td align='center' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'>
						<!-- Tuck away hidden form elements -->
            <input type='hidden' name='act' value='SF'>
            <input type='hidden' name='f'   value='{$info['id']}'>
            <input type='hidden' name='s'   value='{ibf.session_id}'>
            <input type='hidden' name='st'  value='{$ibforums->input['st']}'>
            <!-- End of tucking :D -->
						<img src='{ibf.vars.img_url}/spacer.gif' alt='' width='20' height='1'></td>
          <td align='center' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'><img src='{ibf.vars.img_url}/spacer.gif' alt='' width='20' height='1'></td>
          <td width='45%' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'>{ibf.lang.h_topic_title}&nbsp;( <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=Login&CODE=04&f={$info['id']}'>{ibf.lang.mark_as_read}</a> )</td>
          <td width='14%' align='center' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'>{ibf.lang.h_topic_starter}</td>
          <td width='7%' align='center' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'>{ibf.lang.h_replies}</td>
          <td width='7%' align='center' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'>{ibf.lang.h_hits}</td>
          <td width='27%' nowrap background='{ibf.vars.img_url}/tile_sub.gif' id='titlemedium'>{ibf.lang.h_last_action}</td>
        </tr>
        <!-- Forum page unique top -->


<!--|IBF|PageTop|END|-->

<!--|IBF|show_no_matches|START|-->


				<tr> 
					<td id='forum2' colspan='7' align='center'>
						<br>
                         <b>{ibf.lang.no_topics}</b>
						<br><br>
					</td>
        </tr>


<!--|IBF|show_no_matches|END|-->

<!--|IBF|RenderRow|START|-->


    <!-- Begin Topic Entry {$Data['tid']} -->
    <tr> 
	  <td align='center' id='forum2'>{$Data['folder_img']}</td>
      <td align='center' id='forum1'>{$Data['topic_icon']}</td>
      <td id='forum2'>
	  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
		  <tr> 
			<td valign='middle'>{$Data['go_new_post']}</td>
            <td width='100%'><span id='linkthru'>{$Data['prefix']} <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?act=ST&f={$Data['forum_id']}&t={$Data['tid']}&s={ibf.session_id}' id='linkthru' title='{ibf.lang.topic_started_on} {$Data['start_date']}'>{$Data['title']}</a></span>  {$Data[PAGES]}</td>
          </tr>
        </table>
        <span id='desc'>{$Data['description']}</span></td>
      <td align='center' id='forum1'>{$Data['starter']}</td>
      <td align='center' id='forum2'>{$Data['posts']}</td>
      <td align='center' id='forum1'>{$Data['views']}</td>
      <td id='forum1'>{$Data['last_post']}<br><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ST&f={$Data['forum_id']}&t={$Data['tid']}&view=getlastpost'>{$Data['last_text']}</a> <b>{$Data['last_poster']}</b></td>
    </tr>
    <!-- End Topic Entry {$Data['tid']} -->


<!--|IBF|RenderRow|END|-->

