<!--|IBF|RenderRow|START|-->


    <!-- Begin Topic Entry {$Data['tid']} -->
    <tr> 
	  <td align='center' id='forum2'>{$Data['folder_img']}</td>
      <td align='center' width='3%' id='forum1'>{$Data['topic_icon']}</td>
      <td id='forum2'>
	  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
		  <tr> 
			<td valign='middle'>{$Data['go_new_post']}</td>
            <td width='100%'><span id='linkthru'>{$Data['prefix']} <a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?act=ST&f={$Data['forum_id']}&t={$Data['tid']}&hl={$Data['keywords']}&s={ibf.session_id}' id='linkthru'>{$Data['title']}</a></span>  {$Data[PAGES]}</td>
          </tr>
        </table>
        <span id='desc'>{$Data['description']}</span></td>
      <td id='forum2' width='20%' align='center'><span id="linkthru"><a href="{ibf.script_url}&act=SF&f={$Data['forum_id']}">{$Data['forum_name']}</a></span></td>
      <td align='center' id='forum1'>{$Data['starter']}</td>
      <td align='center' id='forum2'>{$Data['posts']}</td>
      <td align='center' id='forum1'>{$Data['views']}</td>
      <td id='forum1'>{$Data['last_post']}<br><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?s={ibf.session_id}&act=ST&f={$Data['forum_id']}&t={$Data['tid']}&view=getlastpost'>{$Data['last_text']}</a> <b>{$Data['last_poster']}</b></td>
    </tr>
    <!-- End Topic Entry {$Data['tid']} -->


<!--|IBF|RenderRow|END|-->

<!--|IBF|end|START|-->


  <tr><td colspan='8' id='titlemedium'>&nbsp;</td></tr>
  </table>
  </td>
  </tr>
  </table>
  </td>
  </tr>
  </table>
  <table cellpadding='0 'cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
      <tr>
         <td valign='middle' width='50%' nowrap align='left'>{$Data[SHOW_PAGES]}</td>
      </tr>
     </table>
   <table cellpadding='0' cellspacing='4' border='0' width='50%' align='center'>
     <tr>
        <td valign='middle' nowrap>{ibf.skin.B_NEW}&nbsp;{ibf.lang.pm_open_new}</td>
        <td valign='middle' nowrap>{ibf.skin.B_HOT}&nbsp;{ibf.lang.pm_hot_new}</td>
        <td valign='middle' nowrap>{ibf.skin.B_POLL}&nbsp;{ibf.lang.pm_poll}</td>
        <td valign='middle' nowrap>{ibf.skin.B_LOCKED}&nbsp;{ibf.lang.pm_locked}</td>
     </tr>
     <tr>
        <td valign='middle' nowrap>{ibf.skin.B_NORM}&nbsp;{ibf.lang.pm_open_no}</td>
        <td valign='middle' nowrap>{ibf.skin.B_HOT_NN}&nbsp;{ibf.lang.pm_hot_no}</td>
        <td valign='middle' nowrap>{ibf.skin.B_POLL_NN}&nbsp;{ibf.lang.pm_poll_no}</td>
        <td valign='middle' nowrap>{ibf.skin.B_MOVED}&nbsp;{ibf.lang.pm_moved}</td>
      </tr>
   </table>


<!--|IBF|end|END|-->

<!--|IBF|Form|START|-->


    <!-- Search Form -->
    <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}" method="post" name='sForm'>
    <input type='hidden' name='act' value='Search'>
    <input type='hidden' name='s' value='{ibf.session_id}'>
    <input type='hidden' name='CODE' value='01'>
    $hidden_fields
    <br>
    <table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
                <table cellpadding='4' cellspacing='1' border='0' width='100%'>
                    <tr>
                        <td colspan='2' id="titlemedium" background='{ibf.vars.img_url}/tile_sub.gif' align='center'>{ibf.lang.keywords_title}</td>
                    </tr>
                    <tr>
                        <td id='title' width='50%'><b>{ibf.lang.key_search}</b></td>
                        <td id='title' width='50%'><b>{ibf.lang.mem_search}</b></td>
                    </tr>
                    <tr>
                        <td id='row1' valign='top'><input type='text' maxlength='100' size='40' name='keywords' class='forminput'>&nbsp;<select name='smethod' class='forminput'><option value='simple'>{ibf.lang.se_simple}</option><option value='advanced'>{ibf.lang.se_advanced}</option></select><br><br>{ibf.lang.keysearch_text}</td>
                        <td id='row1' valign='top'><input type='text' maxlength='100' size='50' name='namesearch' class='forminput'><br><br><input name='exactname' type='radio' value='1' checked>&nbsp;{ibf.lang.match_name_ex}<br><input name='exactname' type='radio' value='1'>&nbsp;{ibf.lang.match_name_pa}</td>
                    </tr>
                </table>
             </td>
           </tr>
         </table>
         
         
         <br>
         
         
   		<table cellpadding='0' cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
          <tr>
              <td>
                <table cellpadding='4' cellspacing='1' border='0' width='100%'>         
                    
                    <tr>
                        <td colspan='2' id="titlemedium" background='{ibf.vars.img_url}/tile_sub.gif' align='center'>{ibf.lang.search_options}</td>
                    </tr>
                    
                    <tr>
                        <td id='title' width='50%' valign='top'><b>{ibf.lang.search_where}</b></td>
                        <td id='title' width='50%' valign='top'><b>{ibf.lang.search_refine}</b></td>
                    </tr>
                    
                    <tr>
                        <td id='row1' valign='middle'>
                        <table cellspacing='4' cellpadding='0' width='100%' align='center' border='0'>
                        	<tr>
                        	 <td valign='top' width='40%' nowrap><input type='radio' name='cat_forum' value='cat'>&nbsp;<b>{ibf.lang.search_cats}</b></td>
                        	 <td valign='top' width='60%'>$cats</td>
                        	</tr>
                        	<tr>
                        	<td valign='top' nowrap><input type='radio' name='cat_forum' value='forum' checked>&nbsp;<b>{ibf.lang.search_forums}</b></td>
                        	<td valign='top'>$forums</td>
                        	</tr>
                        	<tr>
                        	 <td><input type='radio' name='search_in' value='posts' checked>&nbsp;{ibf.lang.in_posts}</td>
                        	 <td><input type='radio' name='search_in' value='titles'>&nbsp;{ibf.lang.in_topics}</td>
                        	</tr>
                          </table>
                        </td>
                        <td id='row1' valign='top'>
                        	<table cellspacing='4' cellpadding='0' width='100%' align='center' border='0'>
                        	<tr>
                        	 <td valign='top'>
                        		<b>{ibf.lang.search_from}</b>
                       			<br>
								<select name='prune' class='forminput'>
								<option value='1'>{ibf.lang.today}
								<option value='7'>{ibf.lang.this_week}
								<option value='30' selected>{ibf.lang.this_month}
								<option value='365'>{ibf.lang.this_year}
								<option value='0'>{ibf.lang.ever}
								</select>
                             	<br>{ibf.lang.and}&nbsp;<input type='radio' name='prune_type' value='older' class='forminput' style='background-color:{ibf.skin.MISCBACK_ONE}'>&nbsp;{ibf.lang.older}&nbsp;<input type='radio' name='prune_type' value='newer' class='forminput' style='background-color:{ibf.skin.MISCBACK_ONE}' checked>&nbsp;{ibf.lang.newer}
                            </td>
                            <td valign='top'>
								<b>{ibf.lang.sort_results}</b><br>
								<select name='sort_key' class='forminput'>
								<option value='last_post'>{ibf.lang.last_date}</option>
								<option value='posts'>{ibf.lang.number_topics}</option>
								<option value='starter_name'>{ibf.lang.poster_name}</option>
								<option value='forum_id'>{ibf.lang.forum_name}</option>
								</select>
								<br><input type='radio' name='sort_order' value='desc' checked>{ibf.lang.descending}
								<br><input type='radio' name='sort_order' value='asc''>{ibf.lang.ascending}
                            </td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td id='row1' colspan='2' align='center'><input type='submit' value='{ibf.lang.do_search}' class='forminput'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>
    <SCRIPT LANGUAGE="JavaScript1.1">
        function chooseForum() {
        	document.sForm.cat_forum[1].checked = true;
        }
        function chooseCat() {
        	document.sForm.cat_forum[0].checked = true;
        }
        </SCRIPT>


<!--|IBF|Form|END|-->

<!--|IBF|active_start|START|-->


   <script language='Javascript'>
   <!--
    function checkvalues() {
    	f = document.dateline;
    	if (f.st_day.value < f.end_day.value) {
    		alert("{ibf.lang.active_js_error}");
    		return false;
    	}
    	if (f.st_day.value == f.end_day.value) {
    		alert("{ibf.lang.active_js_error}");
    		return false;
    	}
    }
    -->
    </script>
    <br>
   <table cellpadding='0 'cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
      <tr>
         <td valign='middle' nowrap align='left'><span id='pagetitle'>{ibf.lang.active_topics}</span><br>{$Data[SHOW_PAGES]}</td>
         <td valign='middle' align='right'>
          <form action='{ibf.vars.board_url}/index.{ibf.vars.php_ext}' method='POST' name='dateline' onSubmit='return checkvalues();'>
          <input type='hidden' name='act' value='Search'>
          <input type='hidden' name='CODE' value='getactive'>
          <input type='hidden' name='s' value='{ibf.session_id}'>
         </td>
        </tr>
     </table>
     <table cellpadding='2' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
       	<tr> 
    		<td id='maintitle' background='{ibf.vars.img_url}/tile_back.gif' align='center'> 
      			{ibf.lang.active_st_text}
				<select name='st_day' class='forminput'>
				 <option value='s1'>{ibf.lang.active_yesterday}</option>
				 <option value='s2'>2 {ibf.lang.active_days}</option>
				 <option value='s3'>3 {ibf.lang.active_days}</option>
				 <option value='s4'>4 {ibf.lang.active_days}</option>
				 <option value='s5'>5 {ibf.lang.active_days}</option>
				 <option value='s6'>6 {ibf.lang.active_days}</option>
				 <option value='s7'>{ibf.lang.active_week}</option>
				 <option value='s30'>{ibf.lang.active_month}</option>
				</select>
				&nbsp;&nbsp;{ibf.lang.active_end_text}&nbsp;&nbsp;
				<select name='end_day' class='forminput'>
				 <option value='e0'>{ibf.lang.active_today}</option>
				 <option value='e1'>{ibf.lang.active_yesterday}</option>
				 <option value='e2'>2 {ibf.lang.active_days}</option>
				 <option value='e3'>3 {ibf.lang.active_days}</option>
				 <option value='e4'>4 {ibf.lang.active_days}</option>
				 <option value='e5'>5 {ibf.lang.active_days}</option>
				 <option value='e6'>6 {ibf.lang.active_days}</option>
				 <option value='e7'>{ibf.lang.active_week}</option>
				</select>
				&nbsp;&nbsp;<input type='submit' value='&gt;&gt;' class='forminput'></form>
    		</td>
  		</tr>
        <tr>
            <td>
            	<table cellpadding='0' cellspacing='0' border='0' width='100%' align='center'>
        		 <tr>
            		<td id='mainbg'>
					 <table cellpadding='4' cellspacing='1' border='0' width='100%'>
					   <tr>
						  <td id='titlemedium' colspan='2' background='{ibf.vars.img_url}/tile_sub.gif'>&nbsp;</td>
						  <td align='left' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_topic_title}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_forum_name}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_topic_starter}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_replies}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_hits}</td>
						  <td id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_last_action}</td>
					   </tr>


<!--|IBF|active_start|END|-->

<!--|IBF|start|START|-->


   <!-- Cgi-bot Start Forum page unique top -->
   <table cellpadding='0 'cellspacing='4' border='0' width='{ibf.skin.tbl_width}' align='center'>
      <tr>
         <td valign='middle' width='50%' nowrap align='left'>{$Data[SHOW_PAGES]}</td>
      </tr>
     </table>
       <table cellpadding='1' cellspacing='0' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
        <tr>
            <td>
            	<table cellpadding='0' cellspacing='0' border='0' width='100%' align='center'>
        		 <tr>
            		<td id='mainbg'>
					 <table cellpadding='2' cellspacing='1' border='0' width='100%'>
					   <tr>
						  <td id='titlemedium' colspan='2' background='{ibf.vars.img_url}/tile_sub.gif'>&nbsp;</td>
						  <td align='left' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_topic_title}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_forum_name}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_topic_starter}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_replies}</td>
						  <td align='center' id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_hits}</td>
						  <td id='titlemedium' background='{ibf.vars.img_url}/tile_sub.gif'>{ibf.lang.h_last_action}</td>
					   </tr>


<!--|IBF|start|END|-->

<!--|IBF|active_none|START|-->


<tr><td colspan='8' id='row1' align='center'><b>{ibf.lang.active_no_topics}</b></td></tr>


<!--|IBF|active_none|END|-->

