<!--|IBF|row|START|-->


          <!-- Help Entry ID:{$entry[ID]} -->
          <tr>
            <td id='{$entry['CELL_COLOUR']}' style='height:28px'><a href='{ibf.vars.board_url}/index.{ibf.vars.php_ext}?act=Help&s={ibf.session_id}&CODE=01&HID={$entry['id']}'><b>{$entry['title']}</b></a><br>{$entry['description']}</td>
          </tr>
          <!-- End Help Entry -->


<!--|IBF|row|END|-->

<!--|IBF|display|START|-->


          <!-- Displaying Help Topic -->
          <tr>
            <td id='row1' colspan='2' id='postcolor'>$text</td>
          </tr>
          <!-- End Display -->


<!--|IBF|display|END|-->

<!--|IBF|end|START|-->


          </table>
          </td>
          </tr>
          </table>


<!--|IBF|end|END|-->

<!--|IBF|no_results|START|-->


                <tr>
                   <td id='row1' colspan='2'><b>{ibf.lang.no_results}</b></td>
                 </tr>


<!--|IBF|no_results|END|-->

<!--|IBF|start|START|-->


     <table cellpadding=4 cellspacing='0' border='0' width='{ibf.skin.tbl_width}' align='center'>
      <tr><td>$two_text</td></tr>
     </table>

     <table cellpadding=0 cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
      <tr>
        <td>
          <table cellpadding='4' cellspacing='1' border='0' width='100%'>
          <tr>
          <td  align='left' colspan='2' id='titlemedium' background="{ibf.vars.img_url}/tile_sub.gif">$one_text</td>
          </tr>
          <tr>
              <td id='row1' colspan='2'>
               <form action="{ibf.vars.board_url}/index.{ibf.vars.php_ext}?act=Help;s={ibf.session_id};CODE=02" method="post">
               <input type='hidden' name='act' value='Help'>
               <input type='hidden' name='CODE' value='02'>
               <input type='hidden' name='s' value='{ibf.session_id}'>
               {ibf.lang.search_txt}&nbsp;&nbsp;<input type='text' maxlength='60' size='30' class='forminput' name='search_q'>&nbsp;<input type='submit' value='{ibf.lang.submit}' class='forminput'>
              </form>
             </td>
           </tr>
           </table>
          </td>
         </tr>
      </table>
      <br>
     <table cellpadding=0 cellspacing='1' border='0' width='{ibf.skin.tbl_width}' bgcolor='{ibf.skin.tbl_border}' align='center'>
      <tr>
        <td>
          <table cellpadding='4' cellspacing='1' border='0' width='100%'>
           <tr>
             <td colspan='2' id='titlemedium' background="{ibf.vars.img_url}/tile_sub.gif"><b>$three_text</b></td>
           </tr>


<!--|IBF|start|END|-->

