TABLE, TR, TD                { font-family:Verdana, Tahoma, Arial;font-size: 7.5pt; color:#000000}

a:link, a:visited, a:active  { text-decoration:underline; color:#000000 }

a:hover                      { color:#465584 }

/*---------------------------------------------------------*/

#mainbg  { background-color: #FFFFFF  }

#mainfoot   { background-color: #BCD0ED  }

#alt1   { background-color: #EEF2F7  }

#forum1  { background-color: #DFE6EF  }

#forum2  { background-color: #E4EAF2  }

#post1   { background-color: #F5F9FD  }

#post2   { background-color: #F5F9FD  }

#posthead   { background-color: #E4EAF2  }

#postfoot   { background-color: #D1DCEB  }

#postbak { background-color: #D2D2D0  }

#title    { background-color: #C4DCF7 }

#row1     { background-color: #EEF2F7 }

#row2     { background-color: #F5F9FD }

#postsep  { background-color: #C7D2E0; height: 1px }

#catrow   {

    font-size:10px;

    font-weight:bold;

    line-height:150%;

    color:#4C77B6;

    background-color:#C2CFDF;

}

#catrow   a:link, #catrow   a:visited, #catrow   a:active { text-decoration: none; color : #4C77B6 }

/*---------------------------------------------------------*/

#alert    { color:#990000 }

#info    { color:#000099 }

#signature         { font-size:7.5pt; color:#333399 }

#postdetails       { font-size:7.5pt; }

#postcolor         { font-size:8pt; line-height : 150%; }

#membertitle       { font-size:10px; line-height:150%; color:#000000 }

#normalname        { font-size:11px; font-weight : bold; color:#000033; padding-bottom:2px }

#normalname a:link, #normalname a:visited, #normalname a:active  { text-decoration:underline; color:#000033; padding-bottom:2px }

#unreg             { font-size:11px; font-weight:bold;  color:#990000 }

#highlight        { color : #FF0000 }

#highlight a:link, #highlight a:visited, #highlight a:active { text-decoration: underline; color:#FF0000 }

#highlight a:hover{ text-decoration: underline }

#desc    { font-size:7.5pt; color : #434951 }

#copyright        { font-family: Verdana, Tahoma, Arial; font-size : 7.5pt; line-height : 12px; }

/*---------------------------------------------------------*/

#category   {

    font-size:10px;

    font-weight:bold;

    line-height:150%;

    color:#4C77B6;

    background-color:#C2CFDF;

}

#category   a:link, #category   a:visited, #category   a:active { text-decoration: none; color : #4C77B6 }

/*---------------------------------------------------------*/

#subtitle         {

    font-weight:bold;

    color:#3A4F6C;

    height: 24px;

    background-color: #D1DCEB;

}

#titlefoot         {

    font-weight:bold;

    color:#3A4F6C;

    height: 24px;

    background-color: #BCD0ED;

}

#titlemedium         {

    font-weight:bold;

    color:#3A4F6C;

    height: 24px;

    background-color: #9FBCE3;

}

#titlemedium  a:link, #subtitle  a:link, #titlefoot  a:link, #titlemedium  a:visited, #subtitle  a:visited, #titlefoot  a:visited, #titlemedium  a:active, #subtitle  a:active, #titlefoot  a:active { text-decoration: underline; color : #3A4F6C }

#titlemedium a:hover, #subtitle a:hover, #titlefoot a:hover { text-decoration: underline; color : #000000 }

#maintitleback         {

    height: 26px;

}

#maintitle         {

    color:#FFFFFF;

    font-size: 9pt;

}

#edit              { font-size:9px }

#fancyborder { border:1px dashed #999999; }
#solidborder { border:1px solid #999999; }

#maintitle  a:link, #maintitle  a:visited, #maintitle  a:active { text-decoration: none; color : #FFFFFF }

#maintitle a:hover { text-decoration: underline }

#nav         {

    font-weight:bold;

    color:#000000;

    font-size: 9pt;

}
#pagetitle { color:#4C77B6;font-size:18px;font-weight:bold; letter-spacing:-1px; line-height:120% }
/*---------------------------------------------------------*/

#useroptions    {

    background-color: #598CC3;

    height:25px;

    font-weight:bold;

    color:#FFFFFF;

}

#useroptions a:link, #useroptions a:visited,#useroptions a:active  { text-decoration: none; color : #FFFFFF; }

/*---------------------------------------------------------*/

#bottomborder { border-bottom:1px dashed #D2D2D0; }

#linkthru                                { color : #000000 }

#linkthru  a:link, #linkthru  a:active   { text-decoration: underline; color : #000000 }

#linkthru  a:visited,                    { text-decoration: underline; color : #000000 }

#linkthru  a:hover                       { text-decoration: underline; color : #465584 }

/*---------------------------------------------------------*/

#QUOTE { font-family:Verdana, Arial; font-size:8pt; color: #333333; background-color: #FAFCFE; border : 1px solid Black;padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; text-indent: 2pt; }

#CODE { font-family:Verdana, Arial; font-size:8pt; color: #333333; background-color: #FAFCFE;  border : 1px solid Black; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; text-indent: 2pt; }

/*---------------------------------------------------------*/

.codebuttons    { font-size: 8pt; font-family: verdana, helvetica, sans-serif; vertical-align:middle }

.forminput     { font-size: 8pt; font-family: verdana, helvetica, sans-serif; vertical-align:middle }

.textinput      { font-size: 9pt; font-family: verdana, helvetica, sans-serif;vertical-align:middle }

.input      { font-size: 8pt; font-family: verdana, helvetica, sans-serif; vertical-align:middle }